#document-list-view {  
  
  h2 {
    margin-bottom: 50px;
  }
 margin: 20px; 
 
 .icon {
   float: left;
   margin-right: 20px;
 }
 
 .invite-message {
   color: green;
   padding-top: 5px;
 }

 .description {
   height: 20px;
   
 }
 
 .owner-name {
   font-size: 10pt;
   padding-top: 10px;
   width: 60%;
 }
 
 .project {
   max-width: 500px;
   .actions {
     float: right;
   }
 }
 
 .new-document-button {
   margin-top: 50px;
 }
}