#document-list-view {  
  
  h2 {
    margin-bottom: 50px;
  }
 margin: 20px; 
 
 .icon {
   float: left;
   margin-right: 20px;
 }
 
 .project {
   max-width: 500px;
   .delete-document-button {
     float: right;
   }
 }
 
 .new-document-button {
   margin-top: 50px;
 }
}