#document-list-view {
  h1 {
    margin-bottom: 50px;
  }
 margin: 20px; 
 
 .delete-document-button {
   margin-left: 20px;
 }
 
 li {
   margin-bottom: 5px;
 }
 
 .new-document-button {
   margin-top: 50px;
 }
}