#document-explorer {
  
  padding: 5px;
  
  .no-leaf {
    margin: 40px;
    
    .message {
      padding-left: 10px;
      margin-bottom: 60px;
    }

  }

  .thumb-container {

  	.thumb {
  		margin: 20px;
  	}

    img {
      padding: 3px;
      border: 3px solid white;
    }
  
    img:hover { 
      padding: 3px;
      border: 3px solid blue;
    }

  	.thumb-icon {
  		padding: 20px;
  		margin: 20px;
  		display: inline;
  	}

    .thumb-icon i {
      padding: 3px;
      border: 3px solid white;
    }

    .thumb-icon i:hover {
      padding: 3px;
      border: 3px solid blue;
    }

  }

}