#document-explorer {
  
  padding: 5px;
  
  .no-leaf {
    margin: 40px;
    
    .message {
      padding-left: 10px;
      margin-bottom: 60px;
    }

  }

  .document-node {
    display: inline-block;
    margin: 20px;
    width: 120px;    
    border: 3px solid white;
    padding: 3px;
  }

  .document-node:hover { 
    border: 3px solid blue;
  }

	.thumb {
    width: 100px;
	}

  .thumb-icon {
    width: 100px;
    padding-bottom: 5px;
    text-align: center;
  }

  .thumb-label {
    width: 100px;
    text-align: center;
  }

}