#document-dialog-container {
  
  .instructions {
    padding-top: 2px;
    padding-left: 4px;
    padding-bottom: 20px;
  }
  
  .modal-body {
    margin-top: 20px;
  }
  
  .control-label {
    padding-top: 8px;
  }
  
}