#leaf-manifest-panel {
  
  #drop-zone {
    border: 2px dashed #ccc;
    height: 60px;
    width: 250px;
    padding-top: 20px;
    text-align: center;
    margin-left: 150px
  }

  .error {
    color: red;
  }

}

/* found in parent panel */
.import-message {
  float: left;
  margin-top: 5px;
}