#members-panel {
  
  .validation-message {
    color: red;
  }
  
  .invite-member {
    #invite-user-email {
      float: left;
      width: 300px;
    }
    .new-member-button {
      margin-left: 10px;
    }
    
    margin-bottom: 20px;
  }
  
  
}