#members-panel {
  
  .validation-message {
    color: red;
  }
  
  .row-actions {
    float: right;
  }
  
  .invite-member {
    #invite-username {
      float: left;
      width: 300px;
    }
    .invite-user-button {
      margin-left: 10px;
    }
    
    margin-bottom: 20px;
  }
  
  
}