
#primary-editing-view {

  .pretty-split-pane-frame {
  	box-sizing: border-box;
  	width: 100%;
  	height: 100%;
  	padding: 5px;
  	padding-top: 5px;
  	background: #F4E2D4;
  }

  .pretty-split-pane-frame .split-pane > .split-pane-divider.dragged.touch {
  	background: blue;
  	opacity: 0.25;
  }

  .pretty-split-pane-component-inner {
  	box-sizing: border-box;
  	border: 1px solid gray;
  	background: white;
  	width: 100%;
  	height: 100%;
    overflow: hidden;
  }
  
	#horizontal-divider {
		bottom: 20em;
		height: 5px;
	}
  
	#horizontal-divider2 {
		bottom: 50%;
		height: 5px;
	}

	#vertical-divider {
		left: 10em;
		width: 5px;
	}
  
	#document-tree-panel {
		width: 25em;
	}

	#right-component {
		left: 25em;
		margin-left: 5px;
		overflow-y: hidden;
	}
		
	#surface-view-panel {
		bottom: 50%;
		margin-bottom: 5px;    
	}

	#xml-editor-panel {
		height: 50%;
	}

	.explorer-view {
		overflow-y: scroll;
	}
      
}


