
#primary-editing-view {
  
  margin: 4px;
  width: 800px;
  height: 500px;

  .pretty-split-pane-frame {
  	box-sizing: border-box;
  	width: 100%;
  	height: 100%;
  	padding: 5px;
  	background: silver;
  }

  .pretty-split-pane-frame .split-pane > .split-pane-divider.dragged.touch {
  	background: blue;
  	opacity: 0.25;
  }

  .pretty-split-pane-component-inner {
  	box-sizing: border-box;
  	border: 1px solid gray;
  	background: white;
  	width: 100%;
  	height: 100%;
  	padding: 0 1em;
  	overflow: auto;
  }

	#horizontal-divider {
		bottom: 20em;
		height: 5px;
	}
  
	#horizontal-divider2 {
		bottom: 50%;
		height: 5px;
	}

	#vertical-divider {
		left: 10em;
		width: 5px;
	}
  
	#left-component {
		width: 10em;
	}

	#right-component {
		left: 10em;
		margin-left: 5px;
	}
		
	#leaf-image-viewer-panel {
		bottom: 50%;
		margin-bottom: 5px;
	}

	#xml-editor-panel {
		height: 50%;
	}
    
  #openseadragon {
    height: 1000px;
    width: 1000px;
  }
  
}


