#surface-view {
  
  .viewer-toolbar {
    position: relative;
    z-index: 1;
    margin-right: 10px;
    top: 10px;
    margin-bottom: -60px;
    float: right;
  }
  
  .popover-anchor {
    position: absolute;
    width: 1px;
    height: 1px;
  }
  
  .popover-button {
    margin-left: 2px;
    margin-top: 4px;
  }
  
}