#xml-editor {

  .xml-editor-toolbar {
    padding: 5px;
    padding-top: 10px;
    padding-left: 15px;
    background: #e6e6e6;
    border-bottom: 1px solid gray;
  }
  
  .zone-link {
    color: white;
    background: blue;
    border: 1px solid gray;
    cursor: pointer;
  }

  .broken-zone-link {
    color: white;
    background: red;
    border: 1px solid gray;
  }
       
  .error-message {
    color: red;
    margin-left: 20px;
    margin-top: 5px;
    float: right;
  }
  
  .scrollable-menu {
      height: auto;
      max-height: 200px;
      overflow-x: hidden;
  }    
  
  .actions {
    width: 220px;
        
    button {
      margin-left: 5px;
    }
    .hidden {
      display: none;
    }
    float: right;
  }
}