#xml-editor {

  .xml-editor-toolbar {
    padding: 5px;
    padding-left: 10px;
    background: #e6e6e6;
    border-bottom: 1px solid gray;
  }
  
  .zone-link {
    color: white;
    background: blue;
    border: 1px solid gray;
    cursor: pointer;
  }
       
  .error-message {
    color: red;
    margin-left: 20px;
    margin-top: 5px;
    float: right;
  }
  
  .scrollable-menu {
      height: auto;
      max-height: 250px;
      overflow-x: hidden;
  }    
}