#xml-editor {

  .xml-editor-toolbar {
    padding: 5px;
    padding-left: 10px;
    width: 110%;
    background: #e6e6e6;
    border-bottom: 1px solid gray;
  }
  
  .facs-ref {
    color: white;
    background: blue;
    border: 1px solid gray;
  }
  
}