/* line 1, /Users/andrew/Dropbox/Code/Performant/RoR/textlab/app/assets/stylesheets/textlab/document-explorer.scss */
#document-explorer {
  padding: 5px;
}
/* line 5, /Users/andrew/Dropbox/Code/Performant/RoR/textlab/app/assets/stylesheets/textlab/document-explorer.scss */
#document-explorer .no-leaf {
  margin: 40px;
}
/* line 8, /Users/andrew/Dropbox/Code/Performant/RoR/textlab/app/assets/stylesheets/textlab/document-explorer.scss */
#document-explorer .no-leaf .message {
  padding-left: 10px;
  margin-bottom: 60px;
}
/* line 15, /Users/andrew/Dropbox/Code/Performant/RoR/textlab/app/assets/stylesheets/textlab/document-explorer.scss */
#document-explorer .document-node {
  display: inline-block;
  margin: 20px;
  width: 120px;
  border: 3px solid white;
  padding: 3px;
}
/* line 23, /Users/andrew/Dropbox/Code/Performant/RoR/textlab/app/assets/stylesheets/textlab/document-explorer.scss */
#document-explorer .document-node:hover {
  border: 3px solid blue;
}
/* line 27, /Users/andrew/Dropbox/Code/Performant/RoR/textlab/app/assets/stylesheets/textlab/document-explorer.scss */
#document-explorer .thumb {
  width: 100px;
}
/* line 31, /Users/andrew/Dropbox/Code/Performant/RoR/textlab/app/assets/stylesheets/textlab/document-explorer.scss */
#document-explorer .thumb-icon {
  width: 100px;
  padding-bottom: 5px;
  text-align: center;
}
/* line 37, /Users/andrew/Dropbox/Code/Performant/RoR/textlab/app/assets/stylesheets/textlab/document-explorer.scss */
#document-explorer .thumb-label {
  width: 100px;
  text-align: center;
}
/* line 42, /Users/andrew/Dropbox/Code/Performant/RoR/textlab/app/assets/stylesheets/textlab/document-explorer.scss */
#document-explorer #edit-info-button {
  margin-top: 4px;
  margin-left: 5px;
  margin-right: 5px;
  float: right;
}
