/* line 1, /Users/andrew/Dropbox/Code/Performant/RoR/textlab/app/assets/stylesheets/textlab/document-list-view.scss */
#document-list-view {
  margin: 20px;
}
/* line 3, /Users/andrew/Dropbox/Code/Performant/RoR/textlab/app/assets/stylesheets/textlab/document-list-view.scss */
#document-list-view h2 {
  margin-bottom: 50px;
}
/* line 8, /Users/andrew/Dropbox/Code/Performant/RoR/textlab/app/assets/stylesheets/textlab/document-list-view.scss */
#document-list-view .icon {
  float: left;
  margin-right: 20px;
}
/* line 13, /Users/andrew/Dropbox/Code/Performant/RoR/textlab/app/assets/stylesheets/textlab/document-list-view.scss */
#document-list-view .invite-message {
  color: green;
  padding-top: 5px;
}
/* line 18, /Users/andrew/Dropbox/Code/Performant/RoR/textlab/app/assets/stylesheets/textlab/document-list-view.scss */
#document-list-view .description {
  height: 20px;
}
/* line 23, /Users/andrew/Dropbox/Code/Performant/RoR/textlab/app/assets/stylesheets/textlab/document-list-view.scss */
#document-list-view .owner-name {
  font-size: 10pt;
  padding-top: 10px;
  width: 60%;
}
/* line 29, /Users/andrew/Dropbox/Code/Performant/RoR/textlab/app/assets/stylesheets/textlab/document-list-view.scss */
#document-list-view .project {
  max-width: 500px;
}
/* line 31, /Users/andrew/Dropbox/Code/Performant/RoR/textlab/app/assets/stylesheets/textlab/document-list-view.scss */
#document-list-view .project .actions {
  float: right;
}
/* line 36, /Users/andrew/Dropbox/Code/Performant/RoR/textlab/app/assets/stylesheets/textlab/document-list-view.scss */
#document-list-view .new-document-button {
  margin-top: 50px;
}
