/* line 5, /Users/andrew/Dropbox/Code/Performant/RoR/textlab/app/assets/stylesheets/textlab/document-tree-view.scss */
#document-tree-view #document-toolbar {
  padding: 5px;
  border-bottom: 1px solid gray;
  background: #e6e6e6;
}
/* line 11, /Users/andrew/Dropbox/Code/Performant/RoR/textlab/app/assets/stylesheets/textlab/document-tree-view.scss */
#document-tree-view #tree-container {
  padding: 5px;
  overflow-y: scroll;
  width: 100%;
}

/* line 19, /Users/andrew/Dropbox/Code/Performant/RoR/textlab/app/assets/stylesheets/textlab/document-tree-view.scss */
ul.fancytree-container {
  border: none;
}
