/* line 3, /Users/andrew/Dropbox/Code/Performant/RoR/textlab/app/assets/stylesheets/textlab/leaf-manifest-panel.scss */
#leaf-manifest-panel #drop-zone {
  border: 2px dashed #ccc;
  height: 60px;
  width: 250px;
  padding-top: 20px;
  text-align: center;
  margin-left: 150px;
}
/* line 12, /Users/andrew/Dropbox/Code/Performant/RoR/textlab/app/assets/stylesheets/textlab/leaf-manifest-panel.scss */
#leaf-manifest-panel .error {
  color: red;
}

/* found in parent panel */
/* line 19, /Users/andrew/Dropbox/Code/Performant/RoR/textlab/app/assets/stylesheets/textlab/leaf-manifest-panel.scss */
.import-message {
  float: left;
  margin-top: 5px;
}
