/* line 3, /Users/andrew/Dropbox/Code/Performant/RoR/textlab/app/assets/stylesheets/textlab/members-panel.scss */
#members-panel .validation-message {
  color: red;
}
/* line 7, /Users/andrew/Dropbox/Code/Performant/RoR/textlab/app/assets/stylesheets/textlab/members-panel.scss */
#members-panel .row-actions {
  float: right;
}
/* line 11, /Users/andrew/Dropbox/Code/Performant/RoR/textlab/app/assets/stylesheets/textlab/members-panel.scss */
#members-panel .invite-member {
  margin-bottom: 20px;
}
/* line 12, /Users/andrew/Dropbox/Code/Performant/RoR/textlab/app/assets/stylesheets/textlab/members-panel.scss */
#members-panel .invite-member #invite-username {
  float: left;
  width: 300px;
}
/* line 16, /Users/andrew/Dropbox/Code/Performant/RoR/textlab/app/assets/stylesheets/textlab/members-panel.scss */
#members-panel .invite-member .invite-user-button {
  margin-left: 10px;
}
