/* line 3, /Users/andrew/Dropbox/Code/Performant/RoR/textlab/app/assets/stylesheets/textlab/open-tab-dialog.scss */
#open-tab-dialog-container .instructions {
  padding-top: 2px;
  padding-left: 4px;
  padding-bottom: 20px;
}
/* line 9, /Users/andrew/Dropbox/Code/Performant/RoR/textlab/app/assets/stylesheets/textlab/open-tab-dialog.scss */
#open-tab-dialog-container .modal-body {
  margin-top: 10px;
}
/* line 13, /Users/andrew/Dropbox/Code/Performant/RoR/textlab/app/assets/stylesheets/textlab/open-tab-dialog.scss */
#open-tab-dialog-container .control-label {
  padding-top: 8px;
}
/* line 17, /Users/andrew/Dropbox/Code/Performant/RoR/textlab/app/assets/stylesheets/textlab/open-tab-dialog.scss */
#open-tab-dialog-container .field-wrapper {
  margin-left: 10px;
}
