/* line 3, /Users/andrew/Dropbox/Code/Performant/RoR/textlab/app/assets/stylesheets/textlab/surface-view.scss */
#surface-view .viewer-toolbar {
  position: relative;
  z-index: 1;
  margin-right: 10px;
  top: 10px;
  margin-bottom: -60px;
  float: right;
}
/* line 12, /Users/andrew/Dropbox/Code/Performant/RoR/textlab/app/assets/stylesheets/textlab/surface-view.scss */
#surface-view .popover-anchor {
  position: absolute;
  width: 1px;
  height: 1px;
}
/* line 18, /Users/andrew/Dropbox/Code/Performant/RoR/textlab/app/assets/stylesheets/textlab/surface-view.scss */
#surface-view .popover-button {
  margin-left: 2px;
  margin-top: 4px;
}
