/* line 1, /Users/andrew/Dropbox/Code/Performant/RoR/textlab/app/assets/stylesheets/textlab/tabbed-editor.scss */
#editor_buttons {
  position: absolute;
  top: 5px;
  right: 1px;
  min-width: 12rem;
}

/* line 8, /Users/andrew/Dropbox/Code/Performant/RoR/textlab/app/assets/stylesheets/textlab/tabbed-editor.scss */
#tabbed-editor {
  padding: 30px 0 0 0;
  height: 100%;
}
/* line 12, /Users/andrew/Dropbox/Code/Performant/RoR/textlab/app/assets/stylesheets/textlab/tabbed-editor.scss */
#tabbed-editor .tab-button {
  margin-right: 5px;
  float: right;
}
/* line 17, /Users/andrew/Dropbox/Code/Performant/RoR/textlab/app/assets/stylesheets/textlab/tabbed-editor.scss */
#tabbed-editor ul.tabs {
  background: #e6e6e6;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
/* line 23, /Users/andrew/Dropbox/Code/Performant/RoR/textlab/app/assets/stylesheets/textlab/tabbed-editor.scss */
#tabbed-editor ul.tabs li {
  min-width: 100px;
  background: white;
  border: gray solid 1px;
  border-bottom: none;
  float: left;
  margin-left: 5px;
  padding: .25em .5em;
  height: 30px;
}
/* line 33, /Users/andrew/Dropbox/Code/Performant/RoR/textlab/app/assets/stylesheets/textlab/tabbed-editor.scss */
#tabbed-editor ul.tabs li span {
  /*font-size: 10pt;*/
  color: black;
  text-decoration: none;
}
/* line 38, /Users/andrew/Dropbox/Code/Performant/RoR/textlab/app/assets/stylesheets/textlab/tabbed-editor.scss */
#tabbed-editor ul.tabs li.active {
  color: black;
  background: #e6e6e6;
}
/* line 42, /Users/andrew/Dropbox/Code/Performant/RoR/textlab/app/assets/stylesheets/textlab/tabbed-editor.scss */
#tabbed-editor ul.tabs li.active span {
  color: black;
  font-weight: bold;
}
/* line 46, /Users/andrew/Dropbox/Code/Performant/RoR/textlab/app/assets/stylesheets/textlab/tabbed-editor.scss */
#tabbed-editor .clr {
  clear: both;
}
/* line 50, /Users/andrew/Dropbox/Code/Performant/RoR/textlab/app/assets/stylesheets/textlab/tabbed-editor.scss */
#tabbed-editor .close-x {
  margin-top: 2px;
  margin-left: 10px;
  float: right;
}
