/* line 3, /Users/andrew/Dropbox/Code/Performant/RoR/textlab/app/assets/stylesheets/textlab/xml-editor.scss */
#xml-editor .xml-editor-toolbar {
  padding: 20px 5px 20px 15px;
  background: #e6e6e6;
  border-bottom: 1px solid gray;
}
/* line 9, /Users/andrew/Dropbox/Code/Performant/RoR/textlab/app/assets/stylesheets/textlab/xml-editor.scss */
#xml-editor .zone-link {
  color: white;
  background: blue;
  border: 1px solid gray;
  cursor: pointer;
}
/* line 16, /Users/andrew/Dropbox/Code/Performant/RoR/textlab/app/assets/stylesheets/textlab/xml-editor.scss */
#xml-editor .broken-zone-link {
  color: white;
  background: red;
  border: 1px solid gray;
}
/* line 22, /Users/andrew/Dropbox/Code/Performant/RoR/textlab/app/assets/stylesheets/textlab/xml-editor.scss */
#xml-editor .error-message {
  color: red;
  margin-left: 20px;
  margin-top: 5px;
  float: right;
}
/* line 29, /Users/andrew/Dropbox/Code/Performant/RoR/textlab/app/assets/stylesheets/textlab/xml-editor.scss */
#xml-editor .status-message {
  display: inline;
  margin-left: 20px;
  height: 20px;
}
/* line 35, /Users/andrew/Dropbox/Code/Performant/RoR/textlab/app/assets/stylesheets/textlab/xml-editor.scss */
#xml-editor .scrollable-menu {
  height: auto;
  max-height: 200px;
  overflow-x: hidden;
}
/* line 41, /Users/andrew/Dropbox/Code/Performant/RoR/textlab/app/assets/stylesheets/textlab/xml-editor.scss */
#xml-editor .read-only {
  background: #DAECFB;
}
/* line 46, /Users/andrew/Dropbox/Code/Performant/RoR/textlab/app/assets/stylesheets/textlab/xml-editor.scss */
#xml-editor .readonly-bar button {
  float: right;
}
/* line 51, /Users/andrew/Dropbox/Code/Performant/RoR/textlab/app/assets/stylesheets/textlab/xml-editor.scss */
#xml-editor .room-for-action-menu {
  width: 130px;
}
/* line 55, /Users/andrew/Dropbox/Code/Performant/RoR/textlab/app/assets/stylesheets/textlab/xml-editor.scss */
#xml-editor .room-for-action-and-publish {
  width: 220px;
}
/* line 59, /Users/andrew/Dropbox/Code/Performant/RoR/textlab/app/assets/stylesheets/textlab/xml-editor.scss */
#xml-editor .room-for-return-button {
  width: 330px;
}
/* line 63, /Users/andrew/Dropbox/Code/Performant/RoR/textlab/app/assets/stylesheets/textlab/xml-editor.scss */
#xml-editor .actions {
  float: right;
}
/* line 64, /Users/andrew/Dropbox/Code/Performant/RoR/textlab/app/assets/stylesheets/textlab/xml-editor.scss */
#xml-editor .actions button {
  margin-left: 5px;
}
/* line 67, /Users/andrew/Dropbox/Code/Performant/RoR/textlab/app/assets/stylesheets/textlab/xml-editor.scss */
#xml-editor .actions .hidden {
  display: none;
}
