#leaf-viewer {
  
  #openseadragon {
    width: 50%;
    height: 1000px;
    float: left;
    margin: 20px;
    border: 1px solid black;
  }
  
  #diplomatic-panel {
    width: 40%;
    float: right;
    margin: 20px;
    border: 1px solid black;
  }
  
  
}