.signup-panel {

  margin-top: 100px;
  margin-left: 33%;
  width: 400px;

  .form-signup {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
  }
  
  .field {
    margin-bottom: 15px;
  }
    
}