body {
//  background: gray;
}

.signin-panel {

  margin-top: 100px;
  margin-left: 33%;
  width: 400px;
  
  h2 {
    padding-left: 35px;
    padding-bottom: 20px;
  }
  
  .form-signin {
    max-width: 330px;
    margin: 0 auto;
  }
  .form-signin .form-signin-heading,
  .form-signin .checkbox {
    margin-bottom: 10px;
  }
  .form-signin .checkbox {
    font-weight: normal;
  }
  .form-signin .form-control {
    position: relative;
    height: auto;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    padding: 10px;
    font-size: 16px;
  }
  
  .form-signin .form-control:focus {
    z-index: 2;
  }
  
  .links {
    
    margin-top: 15px;
    
    .signup {
      float: left;
    }
    
    .forgot-password {
      float: right;
    }
  }
  
  #user_email {
    margin-bottom: 10px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
  
  #user_password {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
}

.devise-alert {
	color: red;
	font-weight: bold;
	border: 1px solid red;
	padding: 8px;
	margin-bottom: 8px;

	&:empty {
		display: none;
	}
}

.devise-notice {
	color: #3B8005;
	font-weight: bold;
	border: 1px solid #3B8005;
	padding: 8px;
	margin-bottom: 8px;

	&:empty {
		display: none;
	}
}

#error_explanation {
	margin-bottom: 8px;
	color: red;

	ul {
		list-style: none;
		padding: 0;
		margin: 0;
	}
}
