<div class="modal fade" id="attributes-modal" tabindex="-1" role="dialog" aria-labelledby="attributeModal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close cancel-button" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="attributeModal">Insert &lt;<%= tag.tag %>&gt; Element</h4>
      </div>
      <div class="modal-body">
        <ul>
        <% _.each( tag.attributes, function( attribute, key ) { %>
          <% if( attribute.fieldType == 'zone' ) { %>
            <%= partials.dropdownInput( { 
              field_name: 'att-'+key, 
              field_title: attribute.displayName, 
              field_value: defaultZone, 
              field_instructions: attribute.instructions, 
              no_blank: true,
              options: zones,
              error: false 
            }) %>
          <% } else { %>
            <%= partials[ attribute.fieldType + 'Input' ]( { 
              field_name: 'att-'+key, 
              field_title: attribute.displayName, 
              field_value: attribute.defaultValue ? attribute.defaultValue : '', 
              field_instructions: attribute.instructions, 
              options: (typeof attribute.vocab === "string") ? TextLab.Vocabs[attribute.vocab] : attribute.vocab,
              error: false 
            }) %>
          <% } %>
        <% }); %>
      </ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default cancel-button">Cancel</button>
        <button type="button" class="btn btn-primary create-button">Insert Element</button>
      </div>
    </div>
  </div>
</div>