<div class="modal fade" id="attributes-modal" tabindex="-1" role="dialog" aria-labelledby="attributeModal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close cancel-button" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="attributeModal">Insert &lt;<%= tag.tag %>&gt; Element</h4>
      </div>
      <div class="modal-body">
        <ul>
        <% _.each( tag.attributes, function( attribute, key ) { %>
          <%= partials[ attribute.fieldType + 'Input' ]( { 
            field_name: 'att-'+key, 
            field_title: attribute.displayName, 
            field_value: '', 
            field_instructions: attribute.instructions, 
            options: attribute.vocab,
            error: false 
          }) %>
        <% }); %>
      </ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default cancel-button">Cancel</button>
        <button type="button" class="btn btn-primary create-button">Insert Element</button>
      </div>
    </div>
  </div>
</div>