<div class="modal fade" id="attributes-modal" tabindex="-1" role="dialog" aria-labelledby="attributeModal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close cancel-button" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="attributeModal">Insert &lt;<%= tag.tag %>&gt; Element</h4>
      </div>
      <div class="modal-body">
        <ul>
          <% var elementIndex = 0; %>
          <% var tag = TextLab.Tags[tag.tag]; %>
          <% _.each( tag.attributes, function( attribute, key ) { %>
            <%= renderAttributeField( elementIndex, attribute, key, zones ) %>
          <% }); %>

          <% _.each( tag.elements, function(tagName) { %>
            <div class="panel panel-default">
              <% var elementTag = TextLab.Tags[ tagName ]; %>
              <% elementIndex = elementIndex + 1; %>
              <div class="panel-heading"><%= elementTag.tag %></div>
              <div class="panel-body">
                <% _.each( elementTag.attributes, function( attribute, key ) { %>
                  <%= renderAttributeField( elementIndex, attribute, key, zones ) %>
                <% }); %>
              </div>
            </div>
          <% }); %>
        </ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default cancel-button">Cancel</button>
        <button type="button" class="btn btn-primary create-button">Insert Element</button>
      </div>
    </div>
  </div>
</div>