<% if( owner ) { %> 
  <div id="document-toolbar">
    <button class='btn btn-default btn-sm add-leaf-button'><i class="fa fa-file-o fa-lg"></i> Add Leaf</button>
    <button class='btn btn-default btn-sm add-section-button'><i class="fa fa-folder fa-lg"></i> Add Section</button>
    <button class="btn btn-default btn-sm edit-settings-button"><i class="fa fa-cog fa-lg"></i> Edit Settings</button>
  </div>
<% } %>
<div id="tree-container">
  <div id="document-tree"></div>
</div>