<div id="modal-container"></div>

<h1>Project List</h1>

<ul>
  <% _.each( documents, function(document) { %>
    <li><a href='#documents/<%= document.id %>'><%= document.name %></a><button class="btn btn-sm btn-danger delete-document-button" data-doc-id="<%= document.id %>">Delete</button></li>
  <% })%>
</ul>

<button class="btn btn-primary new-document-button">New Project</button>