<div id="modal-container"></div>

<h2>My Projects</h2>

<% _.each( documents, function(document) { %>
  <div class="panel panel-default project">
    <div class="panel-body">
      <div class='info'>
        <div class='icon'><span class='fa fa-4x fa-book'></span></div>
        <h4><a href='#documents/<%= document.id %>'><%= document.name %></a></h4>
        <p><%= document.description %></p>
      </div>
      <div class='actions'>
        <% if( document.owner ) { %> 
          <button class="btn btn-sm btn-danger delete-document-button" data-doc-id="<%= document.id %>">Delete</button>        
        <% }%>
      </div>
    </div>
  </div>
<% })%>

<button class="btn btn-primary new-document-button">New Project</button>