<div class="modal fade" id="edit-settings-modal" tabindex="-1" role="dialog" aria-labelledby="settingsModal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close cancel-button" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="settingsModal">Edit Project Settings</h4>
      </div>
      <div class="modal-body">
        <h4>Publishing Settings</h4>
        <%= partials.checkMark( { 
          field_name: 'published', 
          field_title: publishFieldTitle,
          field_value: document.published, 
          error: false 
        }) %>
        
        <h4>General Settings</h4>
        <%= partials.stringInput( { 
          field_name: 'name', 
          field_title: "Project Name",
          field_value: document.name, 
          field_instructions: "Please enter a name for this project.",
          error: false 
        }) %>        
        <%= partials.stringInput( { 
          field_name: 'description', 
          field_title: "Project Description",
          field_value: document.description, 
          field_instructions: "Please enter a brief description of this project.",
          error: false 
        }) %>    
        <%= partials.dropdownInput( { 
          field_name: 'projectConfig', 
          field_title: 'Project Configuration', 
          field_value: document.project_config_id, 
          field_instructions: 'Project configuration determines the tags and vocabs.', 
          no_blank: true,
          options: projectConfigs,
          error: false 
        }) %>       
      
      <h4>Project Members</h4>  
      <div id="members-panel"></div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default cancel-button">Cancel</button>
        <button type="button" class="btn btn-primary update-button">Update</button>
      </div>
    </div>
  </div>
</div>