<div class="modal fade" id="leaf-modal" tabindex="-1" role="dialog" aria-labelledby="leafModal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close cancel-button" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="documentModal"><%= (mode=='edit'? 'Edit' : 'New') %> Leaf</h4>
      </div>
      <div class="modal-body">
        <%= partials.stringInput( { 
          field_name: 'name', 
          field_title: "Name",
          field_value: leaf.get('name'), 
          field_instructions: "Please enter a unique name for this leaf.",
          error: false 
        }) %>
        <%= partials.stringInput( { 
          field_name: 'tile_source', 
          field_title: "URL",
          field_value: leaf.get('tile_source'), 
          field_instructions: "Please enter a IIIF image resource URL.",
          error: false 
        }) %>        
      </div>
      <div class="modal-footer">
        <% if( mode == 'edit') { %>
          <button type="button" class="btn btn-danger delete-button">Delete</button>
        <% }%>
        <button type="button" class="btn btn-default cancel-button">Cancel</button>
        <button type="button" class="btn btn-primary ok-button">OK</button>
      </div>
    </div>
  </div>
</div>