<div class='viewer-toolbar'>
  <a class='btn btn-default' href='#'>Toggle</a>
  <a class='btn btn-default' href='#'>Select</a>
  <a class='btn btn-default' href='#'>Edit</a>
  <a class='btn btn-default' id='zoom-in-button' href='#'>Zoom In</a>
  <a class='btn btn-default' id='zoom-out-button' href='#'>Zoom Out</a>
</div>
<div id='openseadragon'></div>