<div class="modal fade" id="leaf-modal" tabindex="-1" role="dialog" aria-labelledby="leafModal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close cancel-button" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="documentModal">Edit Leaf</h4>
      </div>
      <div class="modal-body">
        <%= partials.stringInput( { 
          field_name: 'name', 
          field_title: "Name",
          field_value: "", 
          field_instructions: "Please enter a name for this leaf.",
          error: false 
        }) %>
        <%= partials.stringInput( { 
          field_name: 'url', 
          field_title: "URL",
          field_value: "", 
          field_instructions: "Please enter a DZI URL for this leaf.",
          error: false 
        }) %>        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default cancel-button">Cancel</button>
        <button type="button" class="btn btn-primary ok-button">OK</button>
      </div>
    </div>
  </div>
</div>