<p class="validation-message"><%= validationMessage %></p>
<div class="members-panel panel panel-default">
  <div class="panel-body">
    <% if(members.length > 0) { %>
      <% _.each( members, function(member) { %>
          <div class='member-row'>
            <span class='display-name'><%= member.first_name + ' ' + member.last_name + ' (' +member.username + ')' %></span>
            <div class='row-actions'>
              <% if( member.accepted ) { %> 
                <button class="btn btn-xs btn-danger remove-member-button" data-member-id="<%= member.id %>">Remove</button> 
              <% } else { %> 
                <button class="btn btn-xs btn-danger cancel-invite-button" data-member-id="<%= member.id %>">Cancel Invite</button> 
              <% } %>
            </div>
          </div>
      <% })%>      
    <% } else { %>
        <p><i>This project does not yet have any members.</i></p>      
    <% } %>
  </div>
</div>

<!--input member -->
<div class='invite-member'>
  <p>Enter a user name below to invite them to this project:</p>
  <input type="text" class="form-control" id="invite-username" value="">
  <button class="btn btn-sm btn-primary invite-user-button">Invite User</button>
</div>