<div class="modal fade" id="new-document-modal" tabindex="-1" role="dialog" aria-labelledby="documentModal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close cancel-button" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="documentModal">New Document</h4>
      </div>
      <div class="modal-body">
        <%= partials.stringInput( { 
          field_name: 'name', 
          field_title: "Document Name",
          field_value: "", 
          field_instructions: "Please enter a name for this document.",
          error: false 
        }) %>        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default cancel-button">Cancel</button>
        <button type="button" class="btn btn-primary create-button">Create Document</button>
      </div>
    </div>
  </div>
</div>