<style>
	.openseadragon-container{
   background: none transparent;
    border: none;
    margin: 0px;
    padding: 0px;
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    left: 0px;
    top: 0px;
    text-align: left;
    z-index: 0;
    max-height: 95%;
    min-height: 85vh;
}

.split-pane-divider editor-view{
    display: block;
    bottom: 25.8258%;
    background-color: #f4e2d5;
}
</style>
<div class='popover-anchor'></div>
<div id="modal-container"></div>
<div class="pretty-split-pane-frame">

	<div class="split-pane fixed-left">
		<div class="split-pane-component" id="document-tree-panel">
			<div class="pretty-split-pane-component-inner">
				<div id='document-tree-view'></div>
			</div>
		</div>
		<div class="split-pane-divider" id="vertical-divider"></div>
		<div class="split-pane-component" id="right-component">
			<!-- Editor View -->
			<div class="split-pane horizontal-percent editor-view">
				<div class="split-pane-component" id="surface-view-panel">
					<div class="pretty-split-pane-component-inner">
						<div id='surface-view'></div>
					</div>
				</div>
				<div class="split-pane-divider editor-view" id="horizontal-divider2"></div>
				<div class="split-pane-component editor-view" id="xml-editor-panel">
					<div class="pretty-split-pane-component-inner">
						<div id='tabbed-editor'></div>
					</div>
				</div>
			</div>
			<!--  Explorer View -->
			<div class="pretty-split-pane-component-inner explorer-view">
				<div id='document-explorer'></div>
			</div>
		</div>
	</div>

</div>
