<div id="modal-container"></div>

<h2>Sites</h2>

<button class="btn btn-primary new-site-button">New Site</button>

<table class="table table-striped">
  <tr>
    <th>Name</th>
    <th>Number of Accounts</th>
    <th>Actions</th>
  </tr>
  <% _.each( sites, function(site) { %> 
    <tr>
      <td><%= site.name %></td>
      <td><%= site.account_count %> / <%= site.max_accounts %></td>
      <td><button data-id="<%= site.id %>" class="btn btn-default btn-sm edit-site-button"><i class="fa fa-pencil fa-lg"></i> Edit</button></td>
    </tr>
  <% }); %>
</table>