<button class='btn btn-default btn-xs tab-button open-tab-button'><i class="fa fa-pencil"></i> Open</button>
<button class='btn btn-default btn-xs tab-button new-tab-button'><i class="fa fa-plus"></i> New</button>
<ul class="tabs">
</ul>
<div class="clr"></div>
<div class="tab-panes">
</div>
