<button class='btn btn-default btn-xs add-tab-button'><i class="fa fa-plus"></i> Open Transcription</button>
<ul class="tabs">
  <li class='active doc-tab' data-tab-id='1' ><a href="#">img_88</a> <div class="close-x fa fa-times-circle"></div></li>
  <li class='doc-tab' data-tab-id='2' ><a href="#">img_88 b</a> <div class="close-x fa fa-times-circle"></div></li>
</ul>
<div class="clr"></div>
<div class="tab-pane">
  <div id='xml-editor'></div>
</div>
