<div class="modal fade" id="transcription-modal" tabindex="-1" role="dialog" aria-labelledby="transcriptionModal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close cancel-button" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="transcriptionModal">Open Transcription for <%= leafName %></h4>
      </div>
      <div class="modal-body">
        <p>Enter a new to create a new transcription or select an existing transcription to open.</p>
            
      <%= partials.stringInput( { 
        field_name: 'transcription-name', 
        field_title: "New Name",
        field_value: '', 
        field_instructions: "Enter a name to create a new transcription.",
        error: false 
      }) %>
      
      <%= partials.dropdownInput( { 
        field_name: 'transcription', 
        field_title: 'Transcriptions', 
        field_value: '', 
        field_instructions: 'Select an existing transcription.', 
        no_blank: true,
        options: transcriptions,
        error: false 
      }) %>
      
      </div>
      
      <div class="modal-footer">
        <button type="button" class="btn btn-default cancel-button">Cancel</button>
        <button type="button" class="btn btn-primary ok-button">OK</button>
      </div>
    </div>
  </div>
</div>