<div id="modal-container"></div>

<h2>User Accounts</h2>

<p><a href='#sites'>Manage Sites</a></p>

<table class="table table-striped">
  <tr>
    <th>Full Name</th>
    <th>Username</th>
    <th>Email</th> 
    <th>User Type</th>
  </tr>
  <% _.each( users, function(user) { %> 
    <tr>
      <td><%= user.full_name %></td>
      <td><%= user.username %></td>
      <td><%= user.email %></td>
      <td><%= user.user_type %></td>
    </tr>
  <% }); %>
</table>