
<div class='btn-toolbar xml-editor-toolbar'>
    
  <div class="dropdown">
    <button class="btn btn-sm btn-default dropdown-toggle" type="button" data-toggle="dropdown">
      Tags
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
      <% _.each( tags, function(tag) { %>
        <li><a class='tag-menu-item' data-tag-id='<%= tag %>' href="#"><%= tag %></a></li>
      <% }) %>
    </ul>
  </div>
  
  <a class='tag-menu-item btn btn-sm btn-default' data-tag-id='milestone' href='#' >milestone</a>
  <a class='tag-menu-item btn btn-sm btn-default' disabled data-tag-id='pb' href='#'>pb</a>
  <a class='tag-menu-item btn btn-sm btn-default' data-tag-id='ab' href='#' >ab</a>
  
</div>
<textarea id='codemirror'></textarea>
