<div class="row <%= (error) ? 'has-error' : '' %>">
  <div class="col-sm-9 field-wrapper">
	  <input type="checkbox" id="<%= field_name %>" <%= field_value ? ' checked ' : '' %>/><span> <%= field_title %></span>
  </div>
</div>