/* line 1, /Users/andrew/Dropbox/Code/Performant/RoR/textlab/app/assets/stylesheets/tl-viewer/base-panel.scss */
#base-panel {
  width: 490px;
  line-height: 3.2em;
  padding: 30px;
  background: #fdedcc;
}
