/* line 1, /Users/andrew/Dropbox/Code/Performant/RoR/textlab/app/assets/stylesheets/tl-viewer/diplomatic-panel.scss */
#diplomatic-panel {
  width: 490px;
  padding: 30px;
  background: #fdedcc;
}
/* line 6, /Users/andrew/Dropbox/Code/Performant/RoR/textlab/app/assets/stylesheets/tl-viewer/diplomatic-panel.scss */
#diplomatic-panel .multistrikethrough, #diplomatic-panel .doublestrikethrough {
  text-decoration: line-through;
}

/* line 11, /Users/andrew/Dropbox/Code/Performant/RoR/textlab/app/assets/stylesheets/tl-viewer/diplomatic-panel.scss */
.apparatustip {
  position: absolute;
  font-family: 'Galdeano', sans-serif;
  display: none;
  z-index: 999;
  left: -9999px;
  background-color: #f0e0c1;
  border: 1px solid #ecbd9c;
  border-top-right-radius: 5px;
  -moz-border-radius-topright: 5px;
  border-top-left-radius: 5px;
  -moz-border-radius-topleft: 5px;
  border-bottom-right-radius: 5px;
  -moz-border-radius-bottomright: 5px;
  border-bottom-left-radius: 5px;
  -moz-border-radius-bottomleft: 5px;
}

/* line 28, /Users/andrew/Dropbox/Code/Performant/RoR/textlab/app/assets/stylesheets/tl-viewer/diplomatic-panel.scss */
.apparatustip .tipheader {
  position: relative;
  left: 0px;
  top: 0px;
  font-size: .9em;
  padding-left: 2px;
  padding-right: 2px;
  padding-top: 2px;
  background-color: #a0aec1;
}

/* line 38, /Users/andrew/Dropbox/Code/Performant/RoR/textlab/app/assets/stylesheets/tl-viewer/diplomatic-panel.scss */
.apparatustip .alternate {
  padding-left: 3px;
}

/* line 41, /Users/andrew/Dropbox/Code/Performant/RoR/textlab/app/assets/stylesheets/tl-viewer/diplomatic-panel.scss */
.apparatustip .resp {
  font-size: .8em;
  margin-left: 1em;
  padding-right: 2px;
}

/* line 46, /Users/andrew/Dropbox/Code/Performant/RoR/textlab/app/assets/stylesheets/tl-viewer/diplomatic-panel.scss */
.apparatustip .resp:before {
  content: "   : ";
}

/* line 50, /Users/andrew/Dropbox/Code/Performant/RoR/textlab/app/assets/stylesheets/tl-viewer/diplomatic-panel.scss */
.substtip {
  position: absolute;
  font-family: 'Galdeano', sans-serif;
  display: none;
  z-index: 999;
  left: -9999px;
  background-color: #f0e0c1;
  border: 1px solid #ecbd9c;
  border-top-right-radius: 5px;
  -moz-border-radius-topright: 5px;
  border-top-left-radius: 5px;
  -moz-border-radius-topleft: 5px;
  border-bottom-right-radius: 5px;
  -moz-border-radius-bottomright: 5px;
  border-bottom-left-radius: 5px;
  -moz-border-radius-bottomleft: 5px;
}

/* line 67, /Users/andrew/Dropbox/Code/Performant/RoR/textlab/app/assets/stylesheets/tl-viewer/diplomatic-panel.scss */
.substtip .tipheader {
  position: relative;
  left: 0px;
  top: 0px;
  font-size: .9em;
  padding-left: 2px;
  padding-right: 2px;
  padding-top: 2px;
  background-color: #bec28f;
}

/* line 77, /Users/andrew/Dropbox/Code/Performant/RoR/textlab/app/assets/stylesheets/tl-viewer/diplomatic-panel.scss */
.substtip span {
  padding-left: 3px;
  padding-right: 2px;
}

/* line 81, /Users/andrew/Dropbox/Code/Performant/RoR/textlab/app/assets/stylesheets/tl-viewer/diplomatic-panel.scss */
.highlight-subst {
  background-color: #e6d6b7;
}

/* line 85, /Users/andrew/Dropbox/Code/Performant/RoR/textlab/app/assets/stylesheets/tl-viewer/diplomatic-panel.scss */
.add-rollover {
  position: absolute;
  font-family: 'Galdeano', sans-serif;
  display: none;
  z-index: 999;
  left: -9999px;
  padding: 3px;
  background-color: #f0e0c1;
  border: 1px solid #ecbd9c;
  border-top-right-radius: 5px;
  -moz-border-radius-topright: 5px;
  border-top-left-radius: 5px;
  -moz-border-radius-topleft: 5px;
  border-bottom-right-radius: 5px;
  -moz-border-radius-bottomright: 5px;
  border-bottom-left-radius: 5px;
  -moz-border-radius-bottomleft: 5px;
}

/* line 103, /Users/andrew/Dropbox/Code/Performant/RoR/textlab/app/assets/stylesheets/tl-viewer/diplomatic-panel.scss */
.rollover {
  color: #ecbd9c;
}

/* line 107, /Users/andrew/Dropbox/Code/Performant/RoR/textlab/app/assets/stylesheets/tl-viewer/diplomatic-panel.scss */
.rollover.bubble {
  border-color: #ecbd9c !important;
}

/**
 *  Specialized styles used to show superimpose / erasures properly
 *  when they are contained in a 'dynamic' bubble
 */
/* line 115, /Users/andrew/Dropbox/Code/Performant/RoR/textlab/app/assets/stylesheets/tl-viewer/diplomatic-panel.scss */
.add-rollover .bubble .subst .add .superimposed {
  background-color: #d2c2a3;
  padding: 4px 2px;
  border-bottom: 1px solid #d2c2a3;
}

/* line 120, /Users/andrew/Dropbox/Code/Performant/RoR/textlab/app/assets/stylesheets/tl-viewer/diplomatic-panel.scss */
.add-rollover .bubble .del .erasure {
  color: #c89664;
  text-decoration: line-through;
}

/* line 124, /Users/andrew/Dropbox/Code/Performant/RoR/textlab/app/assets/stylesheets/tl-viewer/diplomatic-panel.scss */
.add-rollover .bubble .subst .del {
  position: absolute;
  top: -40px;
  border: 1px solid #ecbd9c;
  border-radius: 5px;
  padding: 0px;
  background-color: #f0e0c1;
}

/* line 132, /Users/andrew/Dropbox/Code/Performant/RoR/textlab/app/assets/stylesheets/tl-viewer/diplomatic-panel.scss */
.add-rollover .bubble .subst .del .overwritten {
  margin: 0 5px;
}

/* line 135, /Users/andrew/Dropbox/Code/Performant/RoR/textlab/app/assets/stylesheets/tl-viewer/diplomatic-panel.scss */
.fake-tipheader {
  font-size: 0.85em;
  background-color: #bec28f;
  padding: 2px 10px;
}

/* line 142, /Users/andrew/Dropbox/Code/Performant/RoR/textlab/app/assets/stylesheets/tl-viewer/diplomatic-panel.scss */
.textfromleaf {
  margin: 0px 20px 40px 20px;
}

/* line 146, /Users/andrew/Dropbox/Code/Performant/RoR/textlab/app/assets/stylesheets/tl-viewer/diplomatic-panel.scss */
#v-margin-top {
  position: relative;
  left: -20px;
  top: 0px;
  width: 450px;
  min-height: 20px;
}

/* line 153, /Users/andrew/Dropbox/Code/Performant/RoR/textlab/app/assets/stylesheets/tl-viewer/diplomatic-panel.scss */
#v-margin-bottom {
  position: relative;
  left: -20px;
  bottom: 0px;
  width: 450px;
  min-height: 20px;
}

/* line 160, /Users/andrew/Dropbox/Code/Performant/RoR/textlab/app/assets/stylesheets/tl-viewer/diplomatic-panel.scss */
div[id*="v-margin"] .right-margin {
  float: left;
  width: 30%;
  min-height: 1px;
  text-align: right;
}

/* line 166, /Users/andrew/Dropbox/Code/Performant/RoR/textlab/app/assets/stylesheets/tl-viewer/diplomatic-panel.scss */
div[id*="v-margin"] .left-margin {
  float: left;
  width: 25%;
  min-height: 1px;
  text-align: left;
  padding-left: 5%;
}

/* line 173, /Users/andrew/Dropbox/Code/Performant/RoR/textlab/app/assets/stylesheets/tl-viewer/diplomatic-panel.scss */
div[id*="v-margin"] .center-margin {
  float: left;
  width: 40%;
  text-align: center;
  min-height: 1px;
  margin: 0px auto;
}

/* line 180, /Users/andrew/Dropbox/Code/Performant/RoR/textlab/app/assets/stylesheets/tl-viewer/diplomatic-panel.scss */
div.centerleaf {
  margin-top: 2.2em;
}

/* line 183, /Users/andrew/Dropbox/Code/Performant/RoR/textlab/app/assets/stylesheets/tl-viewer/diplomatic-panel.scss */
#h-margin-left {
  position: absolute;
  float: left;
  left: 0px;
  top: 45px;
  height: 90%;
  width: 15px;
  display: table;
  vertical-align: middle;
}

/* line 193, /Users/andrew/Dropbox/Code/Performant/RoR/textlab/app/assets/stylesheets/tl-viewer/diplomatic-panel.scss */
#h-margin-left * {
  vertical-align: middle;
  display: table-cell;
}

/* line 198, /Users/andrew/Dropbox/Code/Performant/RoR/textlab/app/assets/stylesheets/tl-viewer/diplomatic-panel.scss */
#h-margin-right {
  position: absolute;
  right: 0px;
  top: 45px;
  height: 90%;
  width: 15px;
  vertical-align: middle;
  text-align: right;
}

/* line 207, /Users/andrew/Dropbox/Code/Performant/RoR/textlab/app/assets/stylesheets/tl-viewer/diplomatic-panel.scss */
#h-margin-right * {
  vertical-align: middle;
  display: table-cell;
}

/* line 213, /Users/andrew/Dropbox/Code/Performant/RoR/textlab/app/assets/stylesheets/tl-viewer/diplomatic-panel.scss */
.add-rollover {
  position: absolute;
  font-family: 'Galdeano', sans-serif;
  display: none;
  z-index: 999;
  left: -9999px;
  padding: 3px;
  background-color: #f0e0c1;
  border: 1px solid #ecbd9c;
  border-top-right-radius: 5px;
  -moz-border-radius-topright: 5px;
  border-top-left-radius: 5px;
  -moz-border-radius-topleft: 5px;
  border-bottom-right-radius: 5px;
  -moz-border-radius-bottomright: 5px;
  border-bottom-left-radius: 5px;
  -moz-border-radius-bottomleft: 5px;
}

/* line 231, /Users/andrew/Dropbox/Code/Performant/RoR/textlab/app/assets/stylesheets/tl-viewer/diplomatic-panel.scss */
.rollover {
  color: #ecbd9c;
}

/* line 235, /Users/andrew/Dropbox/Code/Performant/RoR/textlab/app/assets/stylesheets/tl-viewer/diplomatic-panel.scss */
.rollover.bubble {
  border-color: #ecbd9c !important;
}

/**
 *  Specialized styles used to show superimpose / erasures properly
 *  when they are contained in a 'dynamic' bubble
 */
/* line 243, /Users/andrew/Dropbox/Code/Performant/RoR/textlab/app/assets/stylesheets/tl-viewer/diplomatic-panel.scss */
.add-rollover .bubble .subst .add .superimposed {
  background-color: #d2c2a3;
  padding: 4px 2px;
  border-bottom: 1px solid #d2c2a3;
}

/* line 248, /Users/andrew/Dropbox/Code/Performant/RoR/textlab/app/assets/stylesheets/tl-viewer/diplomatic-panel.scss */
.add-rollover .bubble .del .erasure {
  color: #c89664;
  text-decoration: line-through;
}

/* line 252, /Users/andrew/Dropbox/Code/Performant/RoR/textlab/app/assets/stylesheets/tl-viewer/diplomatic-panel.scss */
.add-rollover .bubble .subst .del {
  position: absolute;
  top: -40px;
  border: 1px solid #ecbd9c;
  border-radius: 5px;
  padding: 0px;
  background-color: #f0e0c1;
}

/* line 260, /Users/andrew/Dropbox/Code/Performant/RoR/textlab/app/assets/stylesheets/tl-viewer/diplomatic-panel.scss */
.add-rollover .bubble .subst .del .overwritten {
  margin: 0 5px;
}
