/*
 ** Copyright 2011 TEI Consortium

 $Id: tei.css 10179 2012-03-25 14:46:46Z rahtz $

 This library is free software; you can redistribute it and/or
 modify it under the terms of the GNU Lesser General Public
 License as published by the Free Software Foundation; either
 version 2.1 of the License, or (at your option) any later version.
 This library is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
 Lesser General Public License for more details.
 You should have received a copy of the GNU Lesser General Public
 License along with this library; if not, write to the
 Free Software Foundation, Inc.,
 59 Temple Place, Suite 330, Boston, MA  02111-1307  USA

 */
/* line 22, /Users/andrew/Dropbox/Code/Performant/RoR/textlab/app/assets/stylesheets/tl-viewer/tei.scss */
.readingtext .choice .sic {
  display: none;
}

/* line 25, /Users/andrew/Dropbox/Code/Performant/RoR/textlab/app/assets/stylesheets/tl-viewer/tei.scss */
.readingtext .choice .orig {
  display: none;
}

/* ---- Stuff for the leaf page in MEL ---- */
/* line 30, /Users/andrew/Dropbox/Code/Performant/RoR/textlab/app/assets/stylesheets/tl-viewer/tei.scss */
.app .alternate {
  display: none;
}

/* line 33, /Users/andrew/Dropbox/Code/Performant/RoR/textlab/app/assets/stylesheets/tl-viewer/tei.scss */
#leafrightContent > div {
  line-height: 3.2em;
}

/* line 36, /Users/andrew/Dropbox/Code/Performant/RoR/textlab/app/assets/stylesheets/tl-viewer/tei.scss */
.moved {
  line-height: 1em;
}

/* ---- explicit styling for the diplomatic rendering ---- */
/* line 41, /Users/andrew/Dropbox/Code/Performant/RoR/textlab/app/assets/stylesheets/tl-viewer/tei.scss */
.diplomaticstyle span._HMp {
  color: #B2B2B2;
  font-weight: bolder;
}

/* line 46, /Users/andrew/Dropbox/Code/Performant/RoR/textlab/app/assets/stylesheets/tl-viewer/tei.scss */
.diplomaticstyle span.metamark[rend~="_Cg"] {
  color: #5fb45f;
  font-weight: bolder;
}

/* line 50, /Users/andrew/Dropbox/Code/Performant/RoR/textlab/app/assets/stylesheets/tl-viewer/tei.scss */
.diplomaticstyle span.metamark[rend~="_ink1"] {
  color: black;
  font-weight: lighter;
}

/* line 54, /Users/andrew/Dropbox/Code/Performant/RoR/textlab/app/assets/stylesheets/tl-viewer/tei.scss */
.diplomaticstyle span.metamark[rend~="_ink2"] {
  color: blue;
  font-weight: lighter;
}

/* line 58, /Users/andrew/Dropbox/Code/Performant/RoR/textlab/app/assets/stylesheets/tl-viewer/tei.scss */
.diplomaticstyle span.metamark[rend~="_ink3"] {
  color: #c89678;
}

/* line 61, /Users/andrew/Dropbox/Code/Performant/RoR/textlab/app/assets/stylesheets/tl-viewer/tei.scss */
.diplomaticstyle span.metamark[rend~="_ink4"] {
  color: lightslategrey;
}

/* line 64, /Users/andrew/Dropbox/Code/Performant/RoR/textlab/app/assets/stylesheets/tl-viewer/tei.scss */
.diplomaticstyle span.metamark[rend~="_ink5"] {
  color: lightslategrey;
}

/* line 67, /Users/andrew/Dropbox/Code/Performant/RoR/textlab/app/assets/stylesheets/tl-viewer/tei.scss */
.diplomaticstyle span.metamark[rend~="_HMp"] {
  color: #B2B2B2;
  font-weight: bolder;
}

/* line 71, /Users/andrew/Dropbox/Code/Performant/RoR/textlab/app/assets/stylesheets/tl-viewer/tei.scss */
.diplomaticstyle span.metamark[rend~="_Cr"] {
  color: #dc3232;
  font-weight: bolder;
}

/* line 75, /Users/andrew/Dropbox/Code/Performant/RoR/textlab/app/assets/stylesheets/tl-viewer/tei.scss */
.diplomaticstyle span.metamark[rend~="_Co"] {
  color: #ffb13c;
  font-weight: bolder;
}

/* line 79, /Users/andrew/Dropbox/Code/Performant/RoR/textlab/app/assets/stylesheets/tl-viewer/tei.scss */
.diplomaticstyle span.metamark[rend~="_Cbl"] {
  color: #5f5ffa;
  font-weight: bolder;
}

/* line 83, /Users/andrew/Dropbox/Code/Performant/RoR/textlab/app/assets/stylesheets/tl-viewer/tei.scss */
.diplomaticstyle span.metamark[rend~="_Cbr"] {
  color: #573b01;
  font-weight: bolder;
}

/* line 87, /Users/andrew/Dropbox/Code/Performant/RoR/textlab/app/assets/stylesheets/tl-viewer/tei.scss */
.diplomaticstyle .choice .reg {
  display: none;
}

/* line 90, /Users/andrew/Dropbox/Code/Performant/RoR/textlab/app/assets/stylesheets/tl-viewer/tei.scss */
.diplomaticstyle .choice .corr {
  display: none;
}

/* line 94, /Users/andrew/Dropbox/Code/Performant/RoR/textlab/app/assets/stylesheets/tl-viewer/tei.scss */
.diplomaticstyle span.metamark[place="above"] {
  display: inline-block;
  position: relative;
  top: -17px;
}

/* line 99, /Users/andrew/Dropbox/Code/Performant/RoR/textlab/app/assets/stylesheets/tl-viewer/tei.scss */
.diplomaticstyle span.metamark[place="below"] {
  display: inline-block;
  position: relative;
  top: 17px;
}

/* line 104, /Users/andrew/Dropbox/Code/Performant/RoR/textlab/app/assets/stylesheets/tl-viewer/tei.scss */
.diplomaticstyle span.tei-hi .restoration {
  border-bottom: 2px dotted #788cfa;
  color: #788cfa;
}

/* line 109, /Users/andrew/Dropbox/Code/Performant/RoR/textlab/app/assets/stylesheets/tl-viewer/tei.scss */
.diplomaticstyle span.above {
  display: inline-block;
  position: relative;
}

/* line 114, /Users/andrew/Dropbox/Code/Performant/RoR/textlab/app/assets/stylesheets/tl-viewer/tei.scss */
.diplomaticstyle span.below {
  display: inline-block;
  position: relative;
}

/* line 119, /Users/andrew/Dropbox/Code/Performant/RoR/textlab/app/assets/stylesheets/tl-viewer/tei.scss */
.diplomaticstyle span.add-margin-top {
  display: inline-block;
  position: relative;
}

/* line 123, /Users/andrew/Dropbox/Code/Performant/RoR/textlab/app/assets/stylesheets/tl-viewer/tei.scss */
.diplomaticstyle span.add-margin-bottom {
  display: inline-block;
  position: relative;
}

/* line 127, /Users/andrew/Dropbox/Code/Performant/RoR/textlab/app/assets/stylesheets/tl-viewer/tei.scss */
.diplomaticstyle span.add-margin-left {
  display: inline-block;
  position: relative;
}

/* line 131, /Users/andrew/Dropbox/Code/Performant/RoR/textlab/app/assets/stylesheets/tl-viewer/tei.scss */
.diplomaticstyle span.add-margin-right {
  display: inline-block;
  position: relative;
}

/* line 135, /Users/andrew/Dropbox/Code/Performant/RoR/textlab/app/assets/stylesheets/tl-viewer/tei.scss */
.add-rollover span.above {
  display: inline-block;
  position: relative;
}

/* line 139, /Users/andrew/Dropbox/Code/Performant/RoR/textlab/app/assets/stylesheets/tl-viewer/tei.scss */
.add-rollover span.below {
  display: inline-block;
  position: relative;
}

/* line 143, /Users/andrew/Dropbox/Code/Performant/RoR/textlab/app/assets/stylesheets/tl-viewer/tei.scss */
.del span {
  text-decoration: inherit;
}

/* line 147, /Users/andrew/Dropbox/Code/Performant/RoR/textlab/app/assets/stylesheets/tl-viewer/tei.scss */
.diplomaticstyle span.bubble {
  display: inline-block;
  padding: 0px 2px 2px 2px;
  border: 1px dashed #beae8f;
  border-radius: 10px 10px 10px 10px;
  -moz-border-radius: 10px 10px 10px 10px;
}

/* line 154, /Users/andrew/Dropbox/Code/Performant/RoR/textlab/app/assets/stylesheets/tl-viewer/tei.scss */
.add-rollover span.bubble {
  display: inline-block;
  padding: 0px 2px 2px 2px;
  border-radius: 10px 10px 10px 10px;
  -moz-border-radius: 10px 10px 10px 10px;
}

/* line 160, /Users/andrew/Dropbox/Code/Performant/RoR/textlab/app/assets/stylesheets/tl-viewer/tei.scss */
.diplomaticstyle .highlight {
  background-color: #5a78ff;
}

/* line 163, /Users/andrew/Dropbox/Code/Performant/RoR/textlab/app/assets/stylesheets/tl-viewer/tei.scss */
.diplomaticstyle .restore {
  font-weight: bold;
}

/* there are cases where these styles are combined with others */
/* and we want these to superceed */
/* line 170, /Users/andrew/Dropbox/Code/Performant/RoR/textlab/app/assets/stylesheets/tl-viewer/tei.scss */
.diplomaticstyle .hashmark {
  background: transparent url("/TextLab/resources/images/pub/hash.png") repeat !important;
}

/* line 174, /Users/andrew/Dropbox/Code/Performant/RoR/textlab/app/assets/stylesheets/tl-viewer/tei.scss */
.diplomaticstyle .erasure-child {
  color: #c89664 !important;
}

/* line 178, /Users/andrew/Dropbox/Code/Performant/RoR/textlab/app/assets/stylesheets/tl-viewer/tei.scss */
a.notelink {
  display: none;
}

/* line 182, /Users/andrew/Dropbox/Code/Performant/RoR/textlab/app/assets/stylesheets/tl-viewer/tei.scss */
#leafrightContent .pb {
  display: none;
}

/* line 186, /Users/andrew/Dropbox/Code/Performant/RoR/textlab/app/assets/stylesheets/tl-viewer/tei.scss */
.subst .del {
  display: none;
}

/* line 189, /Users/andrew/Dropbox/Code/Performant/RoR/textlab/app/assets/stylesheets/tl-viewer/tei.scss */
#basetext .choice .reg {
  display: none;
}

/* line 192, /Users/andrew/Dropbox/Code/Performant/RoR/textlab/app/assets/stylesheets/tl-viewer/tei.scss */
#basetext .choice .corr {
  display: none;
}

/* line 195, /Users/andrew/Dropbox/Code/Performant/RoR/textlab/app/assets/stylesheets/tl-viewer/tei.scss */
#basetext .restore .del {
  display: inline-block !important;
  text-decoration: none !important;
}

/* line 199, /Users/andrew/Dropbox/Code/Performant/RoR/textlab/app/assets/stylesheets/tl-viewer/tei.scss */
#basetext .restore .del span {
  display: inline-block !important;
  text-decoration: none !important;
  color: black !important;
}

/* line 204, /Users/andrew/Dropbox/Code/Performant/RoR/textlab/app/assets/stylesheets/tl-viewer/tei.scss */
#basetext .del {
  display: none;
}

/* line 207, /Users/andrew/Dropbox/Code/Performant/RoR/textlab/app/assets/stylesheets/tl-viewer/tei.scss */
#basetext .metamark {
  display: none;
}

/* line 210, /Users/andrew/Dropbox/Code/Performant/RoR/textlab/app/assets/stylesheets/tl-viewer/tei.scss */
#basetext .highlight {
  background-color: #5a78ff;
}

/* line 213, /Users/andrew/Dropbox/Code/Performant/RoR/textlab/app/assets/stylesheets/tl-viewer/tei.scss */
#basetext span {
  vertical-align: baseline !important;
  background-color: inherit;
}

/* line 217, /Users/andrew/Dropbox/Code/Performant/RoR/textlab/app/assets/stylesheets/tl-viewer/tei.scss */
#basetext span.above {
  display: inline;
}

/* line 220, /Users/andrew/Dropbox/Code/Performant/RoR/textlab/app/assets/stylesheets/tl-viewer/tei.scss */
#basetext span.below {
  display: inline;
}

/*---- End stuff for leaf page in MEL ---*/
/* components of the breadcrumb trail */
/* line 227, /Users/andrew/Dropbox/Code/Performant/RoR/textlab/app/assets/stylesheets/tl-viewer/tei.scss */
a.breadcrumb {
  color: #FFFFFF;
  text-decoration: none;
  padding-right: 5px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 0.8em;
}

/* line 236, /Users/andrew/Dropbox/Code/Performant/RoR/textlab/app/assets/stylesheets/tl-viewer/tei.scss */
ul.breadcrumb {
  display: inline;
  font-size: 1.1em;
}

/* line 241, /Users/andrew/Dropbox/Code/Performant/RoR/textlab/app/assets/stylesheets/tl-viewer/tei.scss */
li.breadcrumb {
  padding-left: 12px;
  padding-right: 5px;
  display: inline;
  color: #000000;
  background: url(/images/rightarrow.gif);
  background-repeat: no-repeat;
  background-position: left;
}

/* line 250, /Users/andrew/Dropbox/Code/Performant/RoR/textlab/app/assets/stylesheets/tl-viewer/tei.scss */
li.breadcrumb-first {
  padding-left: 12px;
  padding-right: 5px;
  display: inline;
  color: #000000;
  background: url(/images/rightarrow.gif);
  background-repeat: no-repeat;
  background-position: left;
}

/* line 260, /Users/andrew/Dropbox/Code/Performant/RoR/textlab/app/assets/stylesheets/tl-viewer/tei.scss */
div.breadcrumb {
  display: inline;
}

/* line 264, /Users/andrew/Dropbox/Code/Performant/RoR/textlab/app/assets/stylesheets/tl-viewer/tei.scss */
.skiplinks {
  font-family: arial, sans-serif;
  color: #FFFFFF;
  font-weight: bold;
  font-size: 0.8em;
  text-decoration: none;
  padding-right: 15px;
}

/* line 273, /Users/andrew/Dropbox/Code/Performant/RoR/textlab/app/assets/stylesheets/tl-viewer/tei.scss */
.tocontent {
  color: #000066;
  display: none;
}

/* line 278, /Users/andrew/Dropbox/Code/Performant/RoR/textlab/app/assets/stylesheets/tl-viewer/tei.scss */
.hide {
  display: none;
}

/* line 282, /Users/andrew/Dropbox/Code/Performant/RoR/textlab/app/assets/stylesheets/tl-viewer/tei.scss */
.framestdlink {
  color: red;
  font-size: smaller;
  font-weight: bold;
}

/* line 288, /Users/andrew/Dropbox/Code/Performant/RoR/textlab/app/assets/stylesheets/tl-viewer/tei.scss */
a:hover {
  text-decoration: underline;
}

/* line 292, /Users/andrew/Dropbox/Code/Performant/RoR/textlab/app/assets/stylesheets/tl-viewer/tei.scss */
a.navbar:link {
  color: #FFFFFF;
  text-decoration: none;
}

/* line 297, /Users/andrew/Dropbox/Code/Performant/RoR/textlab/app/assets/stylesheets/tl-viewer/tei.scss */
a.navbar:visited {
  color: #FFFFFF;
  text-decoration: none;
}

/* line 302, /Users/andrew/Dropbox/Code/Performant/RoR/textlab/app/assets/stylesheets/tl-viewer/tei.scss */
a.navbar:hover {
  color: #FFFFFF;
  text-decoration: underline;
}

/* for use when making pages using a table */
/* line 308, /Users/andrew/Dropbox/Code/Performant/RoR/textlab/app/assets/stylesheets/tl-viewer/tei.scss */
td.hdr2 {
  color: #000000;
  background-color: #99CCFF;
}

/* line 312, /Users/andrew/Dropbox/Code/Performant/RoR/textlab/app/assets/stylesheets/tl-viewer/tei.scss */
td.hdr3 {
  background-color: #AD06BC;
  border: 1pt solid #000000;
}

/* line 317, /Users/andrew/Dropbox/Code/Performant/RoR/textlab/app/assets/stylesheets/tl-viewer/tei.scss */
td.sidetext {
  border-right: 1pt solid #000000;
}

/* line 320, /Users/andrew/Dropbox/Code/Performant/RoR/textlab/app/assets/stylesheets/tl-viewer/tei.scss */
td.maintext p {
  font-family: Arial, Helvetica, sans-serif;
}

/* line 324, /Users/andrew/Dropbox/Code/Performant/RoR/textlab/app/assets/stylesheets/tl-viewer/tei.scss */
td.maintext {
  background-color: #FFFFFF;
  font-family: Arial, Helvetica, sans-serif;
  color: #000000;
  padding-left: 6pt;
  padding-right: 6pt;
}

/* line 332, /Users/andrew/Dropbox/Code/Performant/RoR/textlab/app/assets/stylesheets/tl-viewer/tei.scss */
table.wovenodd td, p.wovenodd {
  background-color: #FFFFFF;
}

/* an inner <text>, eg inside a <q> */
/* line 337, /Users/andrew/Dropbox/Code/Performant/RoR/textlab/app/assets/stylesheets/tl-viewer/tei.scss */
div.innertext {
  margin: 6pt;
  border: 1pt solid red;
}

/* literal code */
/* line 343, /Users/andrew/Dropbox/Code/Performant/RoR/textlab/app/assets/stylesheets/tl-viewer/tei.scss */
div.cdata {
  white-space: pre;
  clear: both;
}

/* line 348, /Users/andrew/Dropbox/Code/Performant/RoR/textlab/app/assets/stylesheets/tl-viewer/tei.scss */
pre, div.pre, div.pre_eg, pre.eg, div.eg {
  clear: both;
  margin-top: 1em;
  margin-bottom: 1em;
  border-top-width: 4px;
  border-bottom-width: 4px;
  border-left-width: 2px;
  border-right-width: 2px;
  border-style: solid;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  color: #000000;
  line-height: 1.1em;
  font-family: monospace;
  font-size: 10pt;
  white-space: pre;
}

/* line 368, /Users/andrew/Dropbox/Code/Performant/RoR/textlab/app/assets/stylesheets/tl-viewer/tei.scss */
div.egXML_valid {
  background-color: #f7f9f6;
  border-color: #c5d8bb;
}

/* line 372, /Users/andrew/Dropbox/Code/Performant/RoR/textlab/app/assets/stylesheets/tl-viewer/tei.scss */
div.egXML_feasible {
  background-color: #fff9f3;
  border-color: #ffe1ad;
}

/* line 376, /Users/andrew/Dropbox/Code/Performant/RoR/textlab/app/assets/stylesheets/tl-viewer/tei.scss */
div.egXML_invalid {
  border-color: #ffe7e8;
  background-color: #fdbbac;
}

/* table of contents */
/* line 382, /Users/andrew/Dropbox/Code/Performant/RoR/textlab/app/assets/stylesheets/tl-viewer/tei.scss */
ul.toc {
  list-style: none;
}

/* line 385, /Users/andrew/Dropbox/Code/Performant/RoR/textlab/app/assets/stylesheets/tl-viewer/tei.scss */
li.toc {
  list-style: none;
}

/* table of contents links */
/* line 391, /Users/andrew/Dropbox/Code/Performant/RoR/textlab/app/assets/stylesheets/tl-viewer/tei.scss */
a.inlinetoc:link, a.inlinetoc:visited {
  color: #7A7A7A;
  font-size: smaller;
  text-decoration: none;
}

/* line 397, /Users/andrew/Dropbox/Code/Performant/RoR/textlab/app/assets/stylesheets/tl-viewer/tei.scss */
a.inlinetoc-this:visited, a.inlinetoc-this:link {
  font-size: smaller;
  color: #000000;
  font-weight: bold;
  text-decoration: underline;
}

/* line 404, /Users/andrew/Dropbox/Code/Performant/RoR/textlab/app/assets/stylesheets/tl-viewer/tei.scss */
a.inlinetoc-sub:visited, a.inlinetoc-sub:link {
  text-decoration: none;
  color: #000000;
  font-weight: normal;
  font-size: smaller;
}

/* line 411, /Users/andrew/Dropbox/Code/Performant/RoR/textlab/app/assets/stylesheets/tl-viewer/tei.scss */
span.toclist {
  font-size: smaller;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}

/* line 417, /Users/andrew/Dropbox/Code/Performant/RoR/textlab/app/assets/stylesheets/tl-viewer/tei.scss */
p.toclist0 {
  margin-left: 0.5em;
  margin-top: 1pt;
  margin-bottom: 3pt;
  text-indent: -0.5em;
  font-size: small;
}

/* line 425, /Users/andrew/Dropbox/Code/Performant/RoR/textlab/app/assets/stylesheets/tl-viewer/tei.scss */
p.toclist1 {
  margin-left: 1em;
  margin-top: 1pt;
  margin-bottom: 2pt;
  text-indent: -0.7em;
  font-size: small;
}

/* line 433, /Users/andrew/Dropbox/Code/Performant/RoR/textlab/app/assets/stylesheets/tl-viewer/tei.scss */
p.toclist2 {
  margin-left: 1.5em;
  text-indent: -1em;
  font-size: small;
}

/* line 439, /Users/andrew/Dropbox/Code/Performant/RoR/textlab/app/assets/stylesheets/tl-viewer/tei.scss */
p.toclist3 {
  margin-left: 2em;
  text-indent: -1.5em;
  font-size: small;
}

/* line 445, /Users/andrew/Dropbox/Code/Performant/RoR/textlab/app/assets/stylesheets/tl-viewer/tei.scss */
span.toclist-this {
  color: red;
}

/* line 449, /Users/andrew/Dropbox/Code/Performant/RoR/textlab/app/assets/stylesheets/tl-viewer/tei.scss */
a.toclist:visited, a.toclist:link {
  font-weight: bold;
  color: #000000;
  text-decoration: none;
}

/* notes */
/* line 456, /Users/andrew/Dropbox/Code/Performant/RoR/textlab/app/assets/stylesheets/tl-viewer/tei.scss */
div.noteHeading {
  margin-top: 9pt;
  border: 0;
  border-top: 1pt;
  border-style: solid;
  padding-top: 6pt;
  font-size: larger;
  font-weight: bold;
}

/* line 465, /Users/andrew/Dropbox/Code/Performant/RoR/textlab/app/assets/stylesheets/tl-viewer/tei.scss */
div.noteBody {
  display: inline;
}

/* line 469, /Users/andrew/Dropbox/Code/Performant/RoR/textlab/app/assets/stylesheets/tl-viewer/tei.scss */
div.note {
  margin-left: 1em;
  margin-bottom: 4pt;
  text-indent: -1em;
}

/* line 475, /Users/andrew/Dropbox/Code/Performant/RoR/textlab/app/assets/stylesheets/tl-viewer/tei.scss */
span.noteLabel {
  font-style: italic;
}

/* line 478, /Users/andrew/Dropbox/Code/Performant/RoR/textlab/app/assets/stylesheets/tl-viewer/tei.scss */
span.noteNumber:before {
  content: "[";
}

/* line 481, /Users/andrew/Dropbox/Code/Performant/RoR/textlab/app/assets/stylesheets/tl-viewer/tei.scss */
span.noteNumber:after {
  content: "]. ";
}

/* line 485, /Users/andrew/Dropbox/Code/Performant/RoR/textlab/app/assets/stylesheets/tl-viewer/tei.scss */
span.note {
  font-size: smaller;
}

/* images */
/* line 489, /Users/andrew/Dropbox/Code/Performant/RoR/textlab/app/assets/stylesheets/tl-viewer/tei.scss */
img.display {
  margin-top: 10pt;
  margin-bottom: 10pt;
  display: block;
}

/* line 494, /Users/andrew/Dropbox/Code/Performant/RoR/textlab/app/assets/stylesheets/tl-viewer/tei.scss */
.caption {
  font-style: italic;
}

/* line 497, /Users/andrew/Dropbox/Code/Performant/RoR/textlab/app/assets/stylesheets/tl-viewer/tei.scss */
span.caption {
  display: block;
}

/* line 501, /Users/andrew/Dropbox/Code/Performant/RoR/textlab/app/assets/stylesheets/tl-viewer/tei.scss */
.floatimage {
  float: left;
  margin-right: 6px;
  vertical-align: top;
}

/* specialized divs */
/* line 508, /Users/andrew/Dropbox/Code/Performant/RoR/textlab/app/assets/stylesheets/tl-viewer/tei.scss */
div.letter {
  margin-left: 2em;
  margin-right: 2em;
  margin-top: 6pt;
  margin-bottom: 6pt;
  border-top: 1pt solid green;
  border-bottom: 1pt solid green;
}

/* title page */
/* line 517, /Users/andrew/Dropbox/Code/Performant/RoR/textlab/app/assets/stylesheets/tl-viewer/tei.scss */
div.titlePage, div.titlepage {
  border-top: 2pt solid #000000;
  border-bottom: 2pt solid #000000;
  padding-top: 6pt;
  padding-bottom: 6pt;
  font-size: larger;
  text-align: center;
}

/* line 525, /Users/andrew/Dropbox/Code/Performant/RoR/textlab/app/assets/stylesheets/tl-viewer/tei.scss */
.docImprint {
  display: block;
  font-style: italic;
}

/* line 529, /Users/andrew/Dropbox/Code/Performant/RoR/textlab/app/assets/stylesheets/tl-viewer/tei.scss */
.docDate {
  font-style: italic;
}

/* line 532, /Users/andrew/Dropbox/Code/Performant/RoR/textlab/app/assets/stylesheets/tl-viewer/tei.scss */
.docTitle {
  display: block;
  margin-top: 6pt;
  font-weight: bold;
  margin-bottom: 18pt;
}

/* line 538, /Users/andrew/Dropbox/Code/Performant/RoR/textlab/app/assets/stylesheets/tl-viewer/tei.scss */
.docAuthor {
  font-style: italic;
}

/* line 542, /Users/andrew/Dropbox/Code/Performant/RoR/textlab/app/assets/stylesheets/tl-viewer/tei.scss */
.byline {
  display: block;
}

/* line 546, /Users/andrew/Dropbox/Code/Performant/RoR/textlab/app/assets/stylesheets/tl-viewer/tei.scss */
div.dateline {
  text-align: right;
}

/* verse */
/* line 550, /Users/andrew/Dropbox/Code/Performant/RoR/textlab/app/assets/stylesheets/tl-viewer/tei.scss */
div.lg {
  margin-left: 10px;
  margin-bottom: 10px;
}

/* line 555, /Users/andrew/Dropbox/Code/Performant/RoR/textlab/app/assets/stylesheets/tl-viewer/tei.scss */
div.signed {
  text-align: left;
}

/* line 558, /Users/andrew/Dropbox/Code/Performant/RoR/textlab/app/assets/stylesheets/tl-viewer/tei.scss */
div.l {
  text-align: left;
  margin-left: 1em;
}

/* line 562, /Users/andrew/Dropbox/Code/Performant/RoR/textlab/app/assets/stylesheets/tl-viewer/tei.scss */
div.epigraph {
  margin: 20pt;
}

/* line 565, /Users/andrew/Dropbox/Code/Performant/RoR/textlab/app/assets/stylesheets/tl-viewer/tei.scss */
div.numbering {
  float: left;
  font-size: smaller;
  width: 2em;
}

/* line 574, /Users/andrew/Dropbox/Code/Performant/RoR/textlab/app/assets/stylesheets/tl-viewer/tei.scss */
div.indent1 {
  margin-left: 1em;
}

/* line 577, /Users/andrew/Dropbox/Code/Performant/RoR/textlab/app/assets/stylesheets/tl-viewer/tei.scss */
div.indent2 {
  margin-left: 2em;
}

/* line 580, /Users/andrew/Dropbox/Code/Performant/RoR/textlab/app/assets/stylesheets/tl-viewer/tei.scss */
div.indent3 {
  margin-left: 3em;
}

/* line 583, /Users/andrew/Dropbox/Code/Performant/RoR/textlab/app/assets/stylesheets/tl-viewer/tei.scss */
div.indent4 {
  margin-left: 4em;
}

/* line 586, /Users/andrew/Dropbox/Code/Performant/RoR/textlab/app/assets/stylesheets/tl-viewer/tei.scss */
div.indent5 {
  margin-left: 5em;
}

/* line 589, /Users/andrew/Dropbox/Code/Performant/RoR/textlab/app/assets/stylesheets/tl-viewer/tei.scss */
div.indent6 {
  margin-left: 6em;
}

/* general purpose block aligns */
/* line 594, /Users/andrew/Dropbox/Code/Performant/RoR/textlab/app/assets/stylesheets/tl-viewer/tei.scss */
.centerbold {
  text-align: center;
  font-weight: bold;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* line 601, /Users/andrew/Dropbox/Code/Performant/RoR/textlab/app/assets/stylesheets/tl-viewer/tei.scss */
.center {
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* line 607, /Users/andrew/Dropbox/Code/Performant/RoR/textlab/app/assets/stylesheets/tl-viewer/tei.scss */
.right {
  text-align: right;
}

/* line 610, /Users/andrew/Dropbox/Code/Performant/RoR/textlab/app/assets/stylesheets/tl-viewer/tei.scss */
.left {
  text-align: left;
}

/* misc inline*/
/* line 616, /Users/andrew/Dropbox/Code/Performant/RoR/textlab/app/assets/stylesheets/tl-viewer/tei.scss */
span.foreign {
  font-style: italic;
}

/* line 620, /Users/andrew/Dropbox/Code/Performant/RoR/textlab/app/assets/stylesheets/tl-viewer/tei.scss */
.plain {
  text-decoration: none;
}

/* line 624, /Users/andrew/Dropbox/Code/Performant/RoR/textlab/app/assets/stylesheets/tl-viewer/tei.scss */
p.box {
  border: 1pt solid #000000;
}

/* line 628, /Users/andrew/Dropbox/Code/Performant/RoR/textlab/app/assets/stylesheets/tl-viewer/tei.scss */
.small {
  font-size: small;
}

/* line 632, /Users/andrew/Dropbox/Code/Performant/RoR/textlab/app/assets/stylesheets/tl-viewer/tei.scss */
td.label {
  font-weight: bold;
  background-color: #AAAAAA;
}

/* line 636, /Users/andrew/Dropbox/Code/Performant/RoR/textlab/app/assets/stylesheets/tl-viewer/tei.scss */
tr.label td {
  font-weight: bold;
  background-color: #AAAAAA;
}

/* line 641, /Users/andrew/Dropbox/Code/Performant/RoR/textlab/app/assets/stylesheets/tl-viewer/tei.scss */
span.label {
  font-weight: bold;
}

/* line 645, /Users/andrew/Dropbox/Code/Performant/RoR/textlab/app/assets/stylesheets/tl-viewer/tei.scss */
h5 {
  font-size: 100%;
}

/* line 648, /Users/andrew/Dropbox/Code/Performant/RoR/textlab/app/assets/stylesheets/tl-viewer/tei.scss */
h6 {
  font-size: 100%;
}

/* line 652, /Users/andrew/Dropbox/Code/Performant/RoR/textlab/app/assets/stylesheets/tl-viewer/tei.scss */
div.tocFront {
  border-bottom: 1pt solid #000000;
}

/* line 655, /Users/andrew/Dropbox/Code/Performant/RoR/textlab/app/assets/stylesheets/tl-viewer/tei.scss */
div.tocBack {
  border-bottom: 1pt solid #000000;
}

/* line 658, /Users/andrew/Dropbox/Code/Performant/RoR/textlab/app/assets/stylesheets/tl-viewer/tei.scss */
div.tocBody {
  border-bottom: 1pt solid #000000;
}

/* a listBibl rend='labels' */
/* line 662, /Users/andrew/Dropbox/Code/Performant/RoR/textlab/app/assets/stylesheets/tl-viewer/tei.scss */
div.listBibl {
  margin-top: 6pt;
  margin-bottom: 6pt;
}

/* line 666, /Users/andrew/Dropbox/Code/Performant/RoR/textlab/app/assets/stylesheets/tl-viewer/tei.scss */
div.bibl {
  margin-left: 0.5em;
  text-indent: -0.5em;
}

/* line 670, /Users/andrew/Dropbox/Code/Performant/RoR/textlab/app/assets/stylesheets/tl-viewer/tei.scss */
div.biblfree {
  font-size: smaller;
  font-style: italic;
  margin-left: 0.5em;
  text-indent: -0.5em;
  margin-bottom: 6pt;
}

/* line 678, /Users/andrew/Dropbox/Code/Performant/RoR/textlab/app/assets/stylesheets/tl-viewer/tei.scss */
span.biblLabel {
  font-weight: bold;
  margin-right: 1em;
}

/* a <bibl> inside a <cit> */
/* line 684, /Users/andrew/Dropbox/Code/Performant/RoR/textlab/app/assets/stylesheets/tl-viewer/tei.scss */
div.citbibl:before {
  content: "(";
}

/* line 687, /Users/andrew/Dropbox/Code/Performant/RoR/textlab/app/assets/stylesheets/tl-viewer/tei.scss */
div.citbibl:after {
  content: ")";
}

/* line 690, /Users/andrew/Dropbox/Code/Performant/RoR/textlab/app/assets/stylesheets/tl-viewer/tei.scss */
div.citbibl {
  text-align: right;
  font-size: smaller;
}

/* a <quote> inside a <cit> */
/* line 695, /Users/andrew/Dropbox/Code/Performant/RoR/textlab/app/assets/stylesheets/tl-viewer/tei.scss */
div.citquote {
  margin-left: 10pt;
  margin-right: 10pt;
}

/* gloss lists with bold labels */
/* line 701, /Users/andrew/Dropbox/Code/Performant/RoR/textlab/app/assets/stylesheets/tl-viewer/tei.scss */
dt {
  font-weight: bold;
}

/* line 704, /Users/andrew/Dropbox/Code/Performant/RoR/textlab/app/assets/stylesheets/tl-viewer/tei.scss */
div.blockquote {
  margin: 10pt;
}

/* generic <hi> */
/* line 709, /Users/andrew/Dropbox/Code/Performant/RoR/textlab/app/assets/stylesheets/tl-viewer/tei.scss */
span.hi {
  font-weight: bold;
}

/* from drama */
/* speeches in drama */
/* line 715, /Users/andrew/Dropbox/Code/Performant/RoR/textlab/app/assets/stylesheets/tl-viewer/tei.scss */
div.p-in-sp {
  margin-left: 1em;
}

/* line 718, /Users/andrew/Dropbox/Code/Performant/RoR/textlab/app/assets/stylesheets/tl-viewer/tei.scss */
div.sp {
  margin-top: 4pt;
}

/* line 721, /Users/andrew/Dropbox/Code/Performant/RoR/textlab/app/assets/stylesheets/tl-viewer/tei.scss */
div.spProse {
  text-indent: -1em;
  margin-left: 1em;
}

/* line 725, /Users/andrew/Dropbox/Code/Performant/RoR/textlab/app/assets/stylesheets/tl-viewer/tei.scss */
div.speaker {
  font-weight: bold;
}

/* line 728, /Users/andrew/Dropbox/Code/Performant/RoR/textlab/app/assets/stylesheets/tl-viewer/tei.scss */
span.speaker {
  font-style: italic;
}

/* line 732, /Users/andrew/Dropbox/Code/Performant/RoR/textlab/app/assets/stylesheets/tl-viewer/tei.scss */
span.actor {
  font-style: italic;
}

/* line 735, /Users/andrew/Dropbox/Code/Performant/RoR/textlab/app/assets/stylesheets/tl-viewer/tei.scss */
span.camera {
  font-style: italic;
}

/* line 738, /Users/andrew/Dropbox/Code/Performant/RoR/textlab/app/assets/stylesheets/tl-viewer/tei.scss */
span.caption {
  font-style: italic;
}

/* line 741, /Users/andrew/Dropbox/Code/Performant/RoR/textlab/app/assets/stylesheets/tl-viewer/tei.scss */
span.role {
  font-style: italic;
}

/* line 744, /Users/andrew/Dropbox/Code/Performant/RoR/textlab/app/assets/stylesheets/tl-viewer/tei.scss */
span.set {
  font-style: italic;
}

/* line 747, /Users/andrew/Dropbox/Code/Performant/RoR/textlab/app/assets/stylesheets/tl-viewer/tei.scss */
span.sound {
  font-style: italic;
}

/* line 750, /Users/andrew/Dropbox/Code/Performant/RoR/textlab/app/assets/stylesheets/tl-viewer/tei.scss */
span.stage {
  font-style: italic;
}

/* line 753, /Users/andrew/Dropbox/Code/Performant/RoR/textlab/app/assets/stylesheets/tl-viewer/tei.scss */
span.tech {
  font-style: italic;
}

/* line 756, /Users/andrew/Dropbox/Code/Performant/RoR/textlab/app/assets/stylesheets/tl-viewer/tei.scss */
span.view {
  font-style: italic;
}

/* line 759, /Users/andrew/Dropbox/Code/Performant/RoR/textlab/app/assets/stylesheets/tl-viewer/tei.scss */
span.mentioned {
  font-style: italic;
}

/* line 762, /Users/andrew/Dropbox/Code/Performant/RoR/textlab/app/assets/stylesheets/tl-viewer/tei.scss */
span.nextLink {
  font-style: italic;
}

/* line 765, /Users/andrew/Dropbox/Code/Performant/RoR/textlab/app/assets/stylesheets/tl-viewer/tei.scss */
span.previousLink {
  font-style: italic;
}

/* line 768, /Users/andrew/Dropbox/Code/Performant/RoR/textlab/app/assets/stylesheets/tl-viewer/tei.scss */
span.upLink {
  font-style: italic;
}

/* line 771, /Users/andrew/Dropbox/Code/Performant/RoR/textlab/app/assets/stylesheets/tl-viewer/tei.scss */
p, div.p {
  background-color: inherit;
  text-align: inherit;
  line-height: 2.5em;
  margin: 10px 0;
  text-indent: 1.5em;
}

/* bibl */
/* line 779, /Users/andrew/Dropbox/Code/Performant/RoR/textlab/app/assets/stylesheets/tl-viewer/tei.scss */
span.titlem {
  font-style: italic;
}

/* line 782, /Users/andrew/Dropbox/Code/Performant/RoR/textlab/app/assets/stylesheets/tl-viewer/tei.scss */
span.titlej {
  font-style: italic;
}

/* line 790, /Users/andrew/Dropbox/Code/Performant/RoR/textlab/app/assets/stylesheets/tl-viewer/tei.scss */
span.margnote, div.margnote {
  display: block;
  font-size: smaller;
  clear: right;
  padding: 4pt;
  font-style: italic;
  width: 10%;
  float: right;
  border: solid green 1pt;
  margin: 6pt;
}

/* line 802, /Users/andrew/Dropbox/Code/Performant/RoR/textlab/app/assets/stylesheets/tl-viewer/tei.scss */
div.floatingText_back {
  border-top: solid black 1pt;
}

/* line 805, /Users/andrew/Dropbox/Code/Performant/RoR/textlab/app/assets/stylesheets/tl-viewer/tei.scss */
div.floatingText_front {
  border-top: solid black 1pt;
}

/* line 808, /Users/andrew/Dropbox/Code/Performant/RoR/textlab/app/assets/stylesheets/tl-viewer/tei.scss */
div.floatingText {
  margin: 6pt;
  border: solid black 1pt;
}

/* line 812, /Users/andrew/Dropbox/Code/Performant/RoR/textlab/app/assets/stylesheets/tl-viewer/tei.scss */
div.pagebreak, span.pagebreak {
  display: block;
  color: grey;
  float: right;
}

/* line 817, /Users/andrew/Dropbox/Code/Performant/RoR/textlab/app/assets/stylesheets/tl-viewer/tei.scss */
span.element {
  font-weight: bold;
  color: black;
}

/* line 821, /Users/andrew/Dropbox/Code/Performant/RoR/textlab/app/assets/stylesheets/tl-viewer/tei.scss */
span.unclear {
  font-weight: 100;
  color: #646464;
}

/* line 826, /Users/andrew/Dropbox/Code/Performant/RoR/textlab/app/assets/stylesheets/tl-viewer/tei.scss */
span.wordtypeNN, span.wordtypeNNS {
  color: green;
}

/* line 829, /Users/andrew/Dropbox/Code/Performant/RoR/textlab/app/assets/stylesheets/tl-viewer/tei.scss */
span.wordtypeVVD, span.wordtypeVVN, span.wordtypeVVN, span.wordtypeVVZ, span.wordtypeVVG, span.wordtypeVV {
  color: red;
}

/* line 833, /Users/andrew/Dropbox/Code/Performant/RoR/textlab/app/assets/stylesheets/tl-viewer/tei.scss */
li.headless {
  display: none;
}

/* line 836, /Users/andrew/Dropbox/Code/Performant/RoR/textlab/app/assets/stylesheets/tl-viewer/tei.scss */
span.hi {
  font-weight: bold;
}

/* line 840, /Users/andrew/Dropbox/Code/Performant/RoR/textlab/app/assets/stylesheets/tl-viewer/tei.scss */
div.footer {
  border-top: solid black 1pt;
}

/* line 844, /Users/andrew/Dropbox/Code/Performant/RoR/textlab/app/assets/stylesheets/tl-viewer/tei.scss */
div.stdfooter {
  border-top: solid black 1pt;
  border-bottom: solid black 1pt;
}

/* line 849, /Users/andrew/Dropbox/Code/Performant/RoR/textlab/app/assets/stylesheets/tl-viewer/tei.scss */
div.altfigure {
  border-top: solid black 1pt;
  border-bottom: solid black 1pt;
}

/* line 854, /Users/andrew/Dropbox/Code/Performant/RoR/textlab/app/assets/stylesheets/tl-viewer/tei.scss */
table.table, table.table tr, table.table td {
  border: solid black 1pt;
}

/* line 857, /Users/andrew/Dropbox/Code/Performant/RoR/textlab/app/assets/stylesheets/tl-viewer/tei.scss */
table.table td {
  padding: 1ex 1ex 1ex 1ex;
}

/* line 860, /Users/andrew/Dropbox/Code/Performant/RoR/textlab/app/assets/stylesheets/tl-viewer/tei.scss */
p.mainAuthor {
  display: block;
  margin: 1ex 0ex 1ex 0ex;
}

/* line 864, /Users/andrew/Dropbox/Code/Performant/RoR/textlab/app/assets/stylesheets/tl-viewer/tei.scss */
p.mainEditor {
  display: block;
  margin: 1ex 0ex 1ex 0ex;
}

/* ODD-specific styles */
/* tables for reference display */
/* line 871, /Users/andrew/Dropbox/Code/Performant/RoR/textlab/app/assets/stylesheets/tl-viewer/tei.scss */
table.wovenodd {
  width: 100%;
  clear: both;
}

/* line 875, /Users/andrew/Dropbox/Code/Performant/RoR/textlab/app/assets/stylesheets/tl-viewer/tei.scss */
td.wovenodd-col1 {
  width: 15%;
  vertical-align: top;
}

/* line 879, /Users/andrew/Dropbox/Code/Performant/RoR/textlab/app/assets/stylesheets/tl-viewer/tei.scss */
td.wovenodd-col2 {
  width: 85%;
}

/* line 882, /Users/andrew/Dropbox/Code/Performant/RoR/textlab/app/assets/stylesheets/tl-viewer/tei.scss */
table.wovenodd tr td {
  border: 1px solid #555;
  padding: 1%;
}

/* line 886, /Users/andrew/Dropbox/Code/Performant/RoR/textlab/app/assets/stylesheets/tl-viewer/tei.scss */
table.wovenodd {
  border-spacing: 0px;
  border-collapse: collapse;
}

/* line 890, /Users/andrew/Dropbox/Code/Performant/RoR/textlab/app/assets/stylesheets/tl-viewer/tei.scss */
table.wovenodd tr td {
  border-spacing: 0px;
}

/* line 893, /Users/andrew/Dropbox/Code/Performant/RoR/textlab/app/assets/stylesheets/tl-viewer/tei.scss */
table.wovenodd tr {
  border-spacing: 0px;
  border-collapse: collapse;
}

/* line 897, /Users/andrew/Dropbox/Code/Performant/RoR/textlab/app/assets/stylesheets/tl-viewer/tei.scss */
table.wovenodd tr td table.attList {
  border-spacing: 0px;
  border: none;
}

/* line 901, /Users/andrew/Dropbox/Code/Performant/RoR/textlab/app/assets/stylesheets/tl-viewer/tei.scss */
table.wovenodd tr td table.attList tr {
  border-spacing: 0px;
  border: none;
}

/* line 905, /Users/andrew/Dropbox/Code/Performant/RoR/textlab/app/assets/stylesheets/tl-viewer/tei.scss */
table.wovenodd tr td table.attList tr td {
  border-spacing: 0px;
  border: none;
}

/* line 909, /Users/andrew/Dropbox/Code/Performant/RoR/textlab/app/assets/stylesheets/tl-viewer/tei.scss */
table.attList {
  table-layout: fixed;
  width: 100%;
  margin: 0pt;
  padding: 0pt;
}

/* line 915, /Users/andrew/Dropbox/Code/Performant/RoR/textlab/app/assets/stylesheets/tl-viewer/tei.scss */
td.odd_label {
  vertical-align: top;
  width: 10%;
  font-weight: bold;
}

/* line 920, /Users/andrew/Dropbox/Code/Performant/RoR/textlab/app/assets/stylesheets/tl-viewer/tei.scss */
td.odd_value {
  vertical-align: top;
  width: 90%;
}

/* line 924, /Users/andrew/Dropbox/Code/Performant/RoR/textlab/app/assets/stylesheets/tl-viewer/tei.scss */
table.attDef {
  table-layout: fixed;
  width: 100%;
}

/* line 928, /Users/andrew/Dropbox/Code/Performant/RoR/textlab/app/assets/stylesheets/tl-viewer/tei.scss */
table.attDef td.odd_label {
  width: 10%;
  vertical-align: top;
  font-weight: normal;
}

/* line 933, /Users/andrew/Dropbox/Code/Performant/RoR/textlab/app/assets/stylesheets/tl-viewer/tei.scss */
table.attDef td.odd_value {
  vertical-align: top;
  width: 90%;
}

/* line 937, /Users/andrew/Dropbox/Code/Performant/RoR/textlab/app/assets/stylesheets/tl-viewer/tei.scss */
table.attList td.odd_label:before {
  content: "@";
}

/* line 940, /Users/andrew/Dropbox/Code/Performant/RoR/textlab/app/assets/stylesheets/tl-viewer/tei.scss */
table.attDef td.odd_label:before {
  content: "";
}

/* line 943, /Users/andrew/Dropbox/Code/Performant/RoR/textlab/app/assets/stylesheets/tl-viewer/tei.scss */
table.valList td.odd_label:before {
  content: "";
}

/* line 946, /Users/andrew/Dropbox/Code/Performant/RoR/textlab/app/assets/stylesheets/tl-viewer/tei.scss */
table.valList {
  table-layout: fixed;
  width: 100%;
}

/* line 950, /Users/andrew/Dropbox/Code/Performant/RoR/textlab/app/assets/stylesheets/tl-viewer/tei.scss */
table.valList td.odd_label {
  width: 10%;
  vertical-align: top;
  font-style: normal;
  font-weight: normal;
}

/* line 956, /Users/andrew/Dropbox/Code/Performant/RoR/textlab/app/assets/stylesheets/tl-viewer/tei.scss */
table.valList td.odd_value {
  vertical-align: top;
  width: 90%;
}

/* line 960, /Users/andrew/Dropbox/Code/Performant/RoR/textlab/app/assets/stylesheets/tl-viewer/tei.scss */
table.specDesc td.Attribute {
  font-weight: bold;
  vertical-align: top;
}

/* line 964, /Users/andrew/Dropbox/Code/Performant/RoR/textlab/app/assets/stylesheets/tl-viewer/tei.scss */
table.specDesc {
  margin-left: 1em;
}

/* line 967, /Users/andrew/Dropbox/Code/Performant/RoR/textlab/app/assets/stylesheets/tl-viewer/tei.scss */
td p {
  margin-top: 0pt;
  margin-bottom: 2pt;
}

/* line 972, /Users/andrew/Dropbox/Code/Performant/RoR/textlab/app/assets/stylesheets/tl-viewer/tei.scss */
div.cdata {
  white-space: pre;
  clear: both;
}

/* line 988, /Users/andrew/Dropbox/Code/Performant/RoR/textlab/app/assets/stylesheets/tl-viewer/tei.scss */
span.att:before {
  content: "@";
}

/* line 991, /Users/andrew/Dropbox/Code/Performant/RoR/textlab/app/assets/stylesheets/tl-viewer/tei.scss */
span.ident, span.ident-class, span.ident-datatype, span.ident-frag, span.ident-ge, span.ident-macro, span.ident-module, span.ident-pe, span.ident-rng, span.ident-schema {
  font-weight: bold;
}

/* line 995, /Users/andrew/Dropbox/Code/Performant/RoR/textlab/app/assets/stylesheets/tl-viewer/tei.scss */
span.ident-file, span.ident-ns {
  font-style: italic;
}

/* line 999, /Users/andrew/Dropbox/Code/Performant/RoR/textlab/app/assets/stylesheets/tl-viewer/tei.scss */
button.displayRelaxButton {
  margin-right: 2px;
  margin-top: 2px;
  font-size: 70%;
  float: right;
  cursor: pointer;
}

/* line 1006, /Users/andrew/Dropbox/Code/Performant/RoR/textlab/app/assets/stylesheets/tl-viewer/tei.scss */
pre.RNG_XML {
  display: none;
}

/* line 1010, /Users/andrew/Dropbox/Code/Performant/RoR/textlab/app/assets/stylesheets/tl-viewer/tei.scss */
span.RNG_XML {
  display: none;
}

/* pretty printing of XML */
/* line 1015, /Users/andrew/Dropbox/Code/Performant/RoR/textlab/app/assets/stylesheets/tl-viewer/tei.scss */
td.classSpec, td.macroSpec {
  font-weight: bold;
}

/* line 1018, /Users/andrew/Dropbox/Code/Performant/RoR/textlab/app/assets/stylesheets/tl-viewer/tei.scss */
a.link_odd_element:link, a.link_odd_element:visited {
  /*     color: #006400; */
}

/* line 1027, /Users/andrew/Dropbox/Code/Performant/RoR/textlab/app/assets/stylesheets/tl-viewer/tei.scss */
span.element {
  font-weight: bold;
  color: black;
}

/* line 1031, /Users/andrew/Dropbox/Code/Performant/RoR/textlab/app/assets/stylesheets/tl-viewer/tei.scss */
td.elementSpec, span.elementname {
  font-weight: bold;
  color: #222288;
}

/* line 1035, /Users/andrew/Dropbox/Code/Performant/RoR/textlab/app/assets/stylesheets/tl-viewer/tei.scss */
span.highlightelementname {
  color: red;
}

/* line 1039, /Users/andrew/Dropbox/Code/Performant/RoR/textlab/app/assets/stylesheets/tl-viewer/tei.scss */
span.attribute {
  color: #222288;
}

/* line 1042, /Users/andrew/Dropbox/Code/Performant/RoR/textlab/app/assets/stylesheets/tl-viewer/tei.scss */
span.attributevalue {
  color: black;
}

/* line 1045, /Users/andrew/Dropbox/Code/Performant/RoR/textlab/app/assets/stylesheets/tl-viewer/tei.scss */
span.comment {
  color: black;
  font-style: italic;
}

/* line 1049, /Users/andrew/Dropbox/Code/Performant/RoR/textlab/app/assets/stylesheets/tl-viewer/tei.scss */
span.namespace {
  color: #222288;
}

/* pretty print rnc */
/* line 1053, /Users/andrew/Dropbox/Code/Performant/RoR/textlab/app/assets/stylesheets/tl-viewer/tei.scss */
span.rnc_nc {
  color: #006400;
}

/* line 1056, /Users/andrew/Dropbox/Code/Performant/RoR/textlab/app/assets/stylesheets/tl-viewer/tei.scss */
span.rnc_decl {
  color: green;
}

/* line 1059, /Users/andrew/Dropbox/Code/Performant/RoR/textlab/app/assets/stylesheets/tl-viewer/tei.scss */
span.rnc_prefix {
  color: blue;
}

/* line 1062, /Users/andrew/Dropbox/Code/Performant/RoR/textlab/app/assets/stylesheets/tl-viewer/tei.scss */
span.rnc_param {
  color: gray;
}

/* line 1065, /Users/andrew/Dropbox/Code/Performant/RoR/textlab/app/assets/stylesheets/tl-viewer/tei.scss */
span.rnc_atom {
  color: yellow;
}

/* line 1068, /Users/andrew/Dropbox/Code/Performant/RoR/textlab/app/assets/stylesheets/tl-viewer/tei.scss */
span.rnc_annot {
  color: #FF8040;
}

/* line 1071, /Users/andrew/Dropbox/Code/Performant/RoR/textlab/app/assets/stylesheets/tl-viewer/tei.scss */
span.rnc_comment {
  color: #FF00FF;
}

/* line 1074, /Users/andrew/Dropbox/Code/Performant/RoR/textlab/app/assets/stylesheets/tl-viewer/tei.scss */
span.rnc_annot {
  color: #00FFFF;
}

/* line 1077, /Users/andrew/Dropbox/Code/Performant/RoR/textlab/app/assets/stylesheets/tl-viewer/tei.scss */
span.rnc_type {
  color: purple;
}

/* line 1080, /Users/andrew/Dropbox/Code/Performant/RoR/textlab/app/assets/stylesheets/tl-viewer/tei.scss */
span.rnc_keyword {
  color: teal;
}

/* line 1083, /Users/andrew/Dropbox/Code/Performant/RoR/textlab/app/assets/stylesheets/tl-viewer/tei.scss */
span.defaultVal {
  font-weight: bold;
}

/* line 1086, /Users/andrew/Dropbox/Code/Performant/RoR/textlab/app/assets/stylesheets/tl-viewer/tei.scss */
span.required {
  font-weight: bold;
}

/* line 1089, /Users/andrew/Dropbox/Code/Performant/RoR/textlab/app/assets/stylesheets/tl-viewer/tei.scss */
div.moduleSpec {
  padding: 1px;
  margin: 1px;
  background-color: #C0C0C0;
  color: inherit;
  clear: right;
}

/* line 1096, /Users/andrew/Dropbox/Code/Performant/RoR/textlab/app/assets/stylesheets/tl-viewer/tei.scss */
span.moduleSpecHead {
  font-style: italic;
}

/* line 1099, /Users/andrew/Dropbox/Code/Performant/RoR/textlab/app/assets/stylesheets/tl-viewer/tei.scss */
ul.specList li {
  list-style: none;
}

/* line 1102, /Users/andrew/Dropbox/Code/Performant/RoR/textlab/app/assets/stylesheets/tl-viewer/tei.scss */
span.specList-macroSpec {
  font-weight: bold;
}

/* line 1105, /Users/andrew/Dropbox/Code/Performant/RoR/textlab/app/assets/stylesheets/tl-viewer/tei.scss */
span.specList-elementSpec {
  font-weight: bold;
}

/* line 1108, /Users/andrew/Dropbox/Code/Performant/RoR/textlab/app/assets/stylesheets/tl-viewer/tei.scss */
span.specList-elementSpec:before {
  content: "<";
}

/* line 1111, /Users/andrew/Dropbox/Code/Performant/RoR/textlab/app/assets/stylesheets/tl-viewer/tei.scss */
span.specList-elementSpec:after {
  content: ">";
}

/* line 1114, /Users/andrew/Dropbox/Code/Performant/RoR/textlab/app/assets/stylesheets/tl-viewer/tei.scss */
span.specList-classSpec {
  font-weight: bold;
}

/* line 1117, /Users/andrew/Dropbox/Code/Performant/RoR/textlab/app/assets/stylesheets/tl-viewer/tei.scss */
span.specName {
  color: #223377;
  font-weight: bold;
}

/* A -Z Styles From http://www.smileycat.com/miaow/archives/000211.php -styling the a to z */
/* line 1122, /Users/andrew/Dropbox/Code/Performant/RoR/textlab/app/assets/stylesheets/tl-viewer/tei.scss */
#azindex {
  background-color: #ddd;
  color: inherit;
  display: block;
  margin: 0px;
  float: left;
  padding: 5px;
  width: 75%;
  border: 1px solid #999;
}

/* line 1132, /Users/andrew/Dropbox/Code/Performant/RoR/textlab/app/assets/stylesheets/tl-viewer/tei.scss */
#azindex p {
  color: #fff;
  background-color: #000060;
  padding: 4px;
  display: block;
  margin: 0;
  border-bottom: 1px solid #333;
  font-size: 0.95em;
}

/* line 1141, /Users/andrew/Dropbox/Code/Performant/RoR/textlab/app/assets/stylesheets/tl-viewer/tei.scss */
.index {
  font: bold 100% Verdana, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

/* line 1146, /Users/andrew/Dropbox/Code/Performant/RoR/textlab/app/assets/stylesheets/tl-viewer/tei.scss */
.index li {
  float: left;
  height: 1.5em;
  list-style-type: none;
  margin: 0.35em 0.15em;
  padding: 0;
  width: 1.5em;
}

/* line 1154, /Users/andrew/Dropbox/Code/Performant/RoR/textlab/app/assets/stylesheets/tl-viewer/tei.scss */
.index a:link, .index a:visited {
  background: #fff;
  color: navy;
  display: block;
  height: 1.5em;
  padding: 0.37em 0 0 0;
  text-align: center;
  text-decoration: none;
  width: 1.5em;
  border: 1px solid #999;
}

/* line 1165, /Users/andrew/Dropbox/Code/Performant/RoR/textlab/app/assets/stylesheets/tl-viewer/tei.scss */
li.showall, li.showall a:visited, li.showall a:link {
  width: 10em;
}

/* line 1168, /Users/andrew/Dropbox/Code/Performant/RoR/textlab/app/assets/stylesheets/tl-viewer/tei.scss */
* html .index li {
  margin: 0.2em 0.2em;
}

/* line 1171, /Users/andrew/Dropbox/Code/Performant/RoR/textlab/app/assets/stylesheets/tl-viewer/tei.scss */
ul.index li a:hover {
  background-color: #93D1E4;
  color: #fff;
  text-decoration: underline;
}

/* line 1176, /Users/andrew/Dropbox/Code/Performant/RoR/textlab/app/assets/stylesheets/tl-viewer/tei.scss */
div.atozwrapper {
  float: left;
  width: 70%;
}

/* line 1180, /Users/andrew/Dropbox/Code/Performant/RoR/textlab/app/assets/stylesheets/tl-viewer/tei.scss */
div.atoz {
  clear: left;
  float: left;
}

/* line 1184, /Users/andrew/Dropbox/Code/Performant/RoR/textlab/app/assets/stylesheets/tl-viewer/tei.scss */
#byMod {
  margin-top: 12px;
  clear: left;
}

/* line 1188, /Users/andrew/Dropbox/Code/Performant/RoR/textlab/app/assets/stylesheets/tl-viewer/tei.scss */
ul.atoz {
  list-style: none;
  text-align: left;
  margin: 2px;
  padding: 2px;
  background-color: #eef;
  color: inherit;
}

/* line 1196, /Users/andrew/Dropbox/Code/Performant/RoR/textlab/app/assets/stylesheets/tl-viewer/tei.scss */
.atoz li {
  padding: 0px;
  display: inline;
}

/* line 1200, /Users/andrew/Dropbox/Code/Performant/RoR/textlab/app/assets/stylesheets/tl-viewer/tei.scss */
span.listhead {
  margin-top: 0em;
  margin-right: 1em;
  padding-left: 3px;
  padding-right: 3px;
  color: #000066;
  font-weight: bold;
  font-size: large;
}

/* End of A - Z styles */
/* line 1210, /Users/andrew/Dropbox/Code/Performant/RoR/textlab/app/assets/stylesheets/tl-viewer/tei.scss */
div.specChildren {
  margin: 0em;
  padding: 0em;
}

/* line 1214, /Users/andrew/Dropbox/Code/Performant/RoR/textlab/app/assets/stylesheets/tl-viewer/tei.scss */
span.specChildModule {
  font-weight: bold;
}

/* line 1217, /Users/andrew/Dropbox/Code/Performant/RoR/textlab/app/assets/stylesheets/tl-viewer/tei.scss */
div.specChild {
  margin-bottom: 4pt;
  margin-left: 25px;
  text-indent: -30px;
}

/* line 1222, /Users/andrew/Dropbox/Code/Performant/RoR/textlab/app/assets/stylesheets/tl-viewer/tei.scss */
span.emptySlash:after {
  content: "/";
}

/* status notation */
/* line 1226, /Users/andrew/Dropbox/Code/Performant/RoR/textlab/app/assets/stylesheets/tl-viewer/tei.scss */
.status_deprecated:after {
  content: " (deprecated)";
  color: red;
}

/* line 1230, /Users/andrew/Dropbox/Code/Performant/RoR/textlab/app/assets/stylesheets/tl-viewer/tei.scss */
.status_changed:after {
  content: " (changed)";
  color: blue;
}

/* line 1234, /Users/andrew/Dropbox/Code/Performant/RoR/textlab/app/assets/stylesheets/tl-viewer/tei.scss */
.status_unstable:after {
  content: " (unstable)";
  color: orange;
}

/* line 1238, /Users/andrew/Dropbox/Code/Performant/RoR/textlab/app/assets/stylesheets/tl-viewer/tei.scss */
.status_deprecated {
  border: solid red 1pt;
}

/* line 1241, /Users/andrew/Dropbox/Code/Performant/RoR/textlab/app/assets/stylesheets/tl-viewer/tei.scss */
.status_changed {
  border: solid blue 1pt;
}

/* line 1244, /Users/andrew/Dropbox/Code/Performant/RoR/textlab/app/assets/stylesheets/tl-viewer/tei.scss */
.status_unstable {
  border: solid orange 1pt;
}

/* <hi> rend values */
/* line 1248, /Users/andrew/Dropbox/Code/Performant/RoR/textlab/app/assets/stylesheets/tl-viewer/tei.scss */
span.typewriter {
  font-family: monospace;
}

/* line 1253, /Users/andrew/Dropbox/Code/Performant/RoR/textlab/app/assets/stylesheets/tl-viewer/tei.scss */
span.smallcaps {
  font-variant: small-caps;
}

/* line 1256, /Users/andrew/Dropbox/Code/Performant/RoR/textlab/app/assets/stylesheets/tl-viewer/tei.scss */
span.bold {
  font-weight: bold;
}

/* line 1259, /Users/andrew/Dropbox/Code/Performant/RoR/textlab/app/assets/stylesheets/tl-viewer/tei.scss */
span.italic {
  font-style: italic;
}

/* line 1262, /Users/andrew/Dropbox/Code/Performant/RoR/textlab/app/assets/stylesheets/tl-viewer/tei.scss */
span.capsall {
  text-transform: uppercase;
}

/* line 1265, /Users/andrew/Dropbox/Code/Performant/RoR/textlab/app/assets/stylesheets/tl-viewer/tei.scss */
span.strikethrough {
  text-decoration: line-through;
}

/* line 1268, /Users/andrew/Dropbox/Code/Performant/RoR/textlab/app/assets/stylesheets/tl-viewer/tei.scss */
span.single-stroke {
  text-decoration: line-through;
}

/* line 1271, /Users/andrew/Dropbox/Code/Performant/RoR/textlab/app/assets/stylesheets/tl-viewer/tei.scss */
span.multi-stroke {
  text-decoration: line-through;
}

/* line 1274, /Users/andrew/Dropbox/Code/Performant/RoR/textlab/app/assets/stylesheets/tl-viewer/tei.scss */
span.strikedoublethrough {
  text-decoration: line-through;
}

/* line 1277, /Users/andrew/Dropbox/Code/Performant/RoR/textlab/app/assets/stylesheets/tl-viewer/tei.scss */
span.underline {
  text-decoration: underline;
}

/* line 1280, /Users/andrew/Dropbox/Code/Performant/RoR/textlab/app/assets/stylesheets/tl-viewer/tei.scss */
span.underwavyline {
  text-decoration-line: underline;
  text-decoration-style: wavy;
}

/* line 1284, /Users/andrew/Dropbox/Code/Performant/RoR/textlab/app/assets/stylesheets/tl-viewer/tei.scss */
span.underdoubleline {
  text-decoration: underline;
}

/* line 1287, /Users/andrew/Dropbox/Code/Performant/RoR/textlab/app/assets/stylesheets/tl-viewer/tei.scss */
span.superscript {
  vertical-align: top;
  font-size: 70%;
}

/* line 1291, /Users/andrew/Dropbox/Code/Performant/RoR/textlab/app/assets/stylesheets/tl-viewer/tei.scss */
span.subscript {
  vertical-align: bottom;
  font-size: 70%;
}

/* line 1295, /Users/andrew/Dropbox/Code/Performant/RoR/textlab/app/assets/stylesheets/tl-viewer/tei.scss */
span.numberParagraph:before {
  content: "[";
}

/* line 1298, /Users/andrew/Dropbox/Code/Performant/RoR/textlab/app/assets/stylesheets/tl-viewer/tei.scss */
span.numberParagraph:after {
  content: "] ";
}

/* line 1301, /Users/andrew/Dropbox/Code/Performant/RoR/textlab/app/assets/stylesheets/tl-viewer/tei.scss */
span.numberParagraph {
  font-size: smaller;
  color: grey;
}
