<div class="sequence-list-panel">
  <h4>Narratives for this Leaf</h4>
  <ul>
    <li><a href='#' class='sequence' data-sequence-id=''>The sailor Billy Budd </a> by John Bryant.</li>
    <li><a href='#'>Sequence B</a></li>
  </ul>
</div>

<div class='sequence-panel'>
  <h4>The sailor Billy Budd</h4>

  <table class="table">
    <tr>
      <th>Step</th>
      <th>Narrative</th>
    </tr>
    <tr>
      <td class='step-column'>This is the step.</td>
      <td class='narrative-column'>This is the narrative.</td>
    </tr>
  </table>
  <div class='actions'>
    <button class='btn btn-default' href='#' >Back to List</button>
    <button class='btn btn-default' href='#' >Previous Step</button>
    <button class='btn btn-primary' href='#' >Next Step</button>
  </div>
</div>