<!-- <div class="sequence-list-panel">
  <h4>Narratives for this Leaf</h4>
  <ul>
    <li><a href='#' class='sequence' data-sequence-id=''>The sailor Billy Budd </a> by John Bryant.</li>
    <li><a href='#'>Sequence B</a></li>
  </ul>
</div> -->

<div class='sequence-panel'>
  <button class='btn btn-default btn-sm show-all-btn' href='#' >Show All Steps</button>
  <h4>BBSequence17LM by John Bryant (Step 3 of 6) </h4>

  <table id="sequence-grid" class="table">
    <tr>
      <th>Step</th>
      <th>Narrative</th>
    </tr>
    <tr>
      <td class='step-column'>he was a<del rend="strikethrough"> son of Ham</del> so intensely black he must have been a native born African.</td>
      <td class='narrative-column'>This fable is believed to be the reason slavery happened. HM made this reference yet chose to change it because he realized his audience would misunderstand the Black sailor to be a slave especially when one considers the timeframe Billy Budd was published. HM wanted to call attention to different perspectives of beauty and reinvent the “beautiful sailor” archetype, and as a result chose to delete this adjectival phrase.</td>
    </tr>
  </table>
  <div class='actions'>
    <button class='btn btn-default' href='#' ><i class="fa fa-home" aria-hidden="true"></i> Sequence List</button>
    <button class='btn btn-default' href='#' ><i class="fa fa-caret-left" aria-hidden="true"></i> Previous Step</button>
    <button class='btn btn-primary' href='#' >Next Step <i class="fa fa-caret-right" aria-hidden="true"></i></button>
  </div>
</div>