<div id="error-list">
  <h3>Error Parsing Transcription</h3>
  <p>The following errors were encountered when validating the transcription <b><%= @name %></b> against TEI p5:</p>
  <%=raw @error_message %>
</div>

