<div id='leaf-viewer'>
  
  <div class="row">
    <div class="leaf-pane col-md-5">
      <div id='openseadragon'></div>
    </div>
    <div class="col-md-5">
      <ul class="nav nav-tabs">
        <li role="presentation" class="active"><a href="#" class='tab-button' data-tab='diplo-pane'>Diplomatic</a></li>
        <li role="presentation"><a href="#" class='tab-button' data-tab='base-pane'>Base</a></li>
      </ul>
      <div class='tab-pane' id="diplo-pane">
        <%= render partial: 'diplo' %>
      </div>
      <div class='tab-pane' id="base-pane">
        <%= render partial: 'base' %>
      </div>      
    </div>
    
  </div>
</div>


<script>

  // application main
  $(document).ready(function() {
    var leafViewer = new TextLab.LeafViewer({ el: $('#leaf-viewer'), model: <%=raw @leaf.to_json %> } );
    leafViewer.render();  
  });

</script>