/* line 1, /Users/andrew/Dropbox/Code/Performant/RoR/textlab/app/assets/stylesheets/public/signup-panel.scss */
.signup-panel {
  margin-top: 100px;
  margin-left: 33%;
  width: 400px;
}
/* line 7, /Users/andrew/Dropbox/Code/Performant/RoR/textlab/app/assets/stylesheets/public/signup-panel.scss */
.signup-panel .form-signup {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
/* line 13, /Users/andrew/Dropbox/Code/Performant/RoR/textlab/app/assets/stylesheets/public/signup-panel.scss */
.signup-panel .field {
  margin-bottom: 15px;
}
