#leaf-viewer {
  
  margin-bottom: 20px;
  margin-left: 20px;
  margin-right: 20px;
  line-height: 3.2em;
  
  #openseadragon {
    width: 490px;
    height: 550px;
    margin: 20px;
    border: 1px solid black;
  }
  
  #diplomatic-panel {
    width: 490px;
    height: 550px;
    margin: 20px;
    border: 1px solid black;
    overflow-x: hidden;
    overflow-y: scroll;
  }
  
  #base-panel {
    width: 490px;
    height: 550px;
    margin: 20px;
    border: 1px solid black;
    overflow-x: hidden;
    overflow-y: scroll;
  }

  .nav-actions {
    padding-top: 10px;
    padding-left: 150px;

    .next-leaf-button {
      padding-left: 30px
    }
  }

  .seq-highlight {
    background: green;
  }
  
}