#leaf-viewer {
  
  margin-top: 50px;
  margin-left: 20px;
  
  .leaf-pane {
    margin-top: 43px;
  }
  
  #openseadragon {
    width: 490px;
    height: 550px;
    margin: 20px;
    border: 1px solid black;
  }
  
  #diplomatic-panel {
    margin: 20px;
    border: 1px solid black;
  }
  
  
}