#sequence-panel {

  hi[rend="bold"] {
    font-weight: bold;
  }

  table.table, table.table td {
   border: none;
  }

  table.table tr {
    border: solid 1px #D3D3D3;
  }

  .actions {
    float: right;
  }

  #sequence-grid {

    padding: 5px;

    .step-number {
      width: 35px;
      text-align: center;
    }

    .step-column {
      width: 300px;
    }

    .narrative-column {
      width: 300px;
    }

  }
}
