<div id='sequence-list'>
	<h4>Sequences for this Leaf</h4>
	<ul>
		<% _.each( sequences, function( sequence ) { %>
			<li><a href='#' class='sequence-link' data-sequence-id='<%= sequence.id %>'><%= sequence.name %></a> by username.</li>
		<% }); %>
	</ul>
</div>
<div id='sequence-panel'></div>