<h4><a href="#" class='back-to-list-link'>Sequences</a> / <%= name %> by username (Step 3 of 6) </h4>

<table id="sequence-grid" class="table">
  <tr>
    <th>Step</th>
    <th>Narrative</th>
  </tr>
  <% _.each( steps, function(step) { %>
    <tr>
      <td class='step-column'><%= step.step %></td>
      <td class='narrative-column'><%= step.narrative %></td>
    </tr>
  <%  }); %>
</table>
<div class='actions'>
  <% if( showAll ) { %>
    <button class='btn btn-default first-step-button' href='#' >Show First Step</button>
  <% } else { %>
    <button class='btn btn-default show-all-button' href='#' >Show All Steps</button>
    <button class='btn btn-default prev-step-button' href='#' ><i class="fa fa-caret-left" aria-hidden="true"></i>  Previous Step</button>
    <button class='btn btn-primary next-step-button' href='#' >Next Step <i class="fa fa-caret-right" aria-hidden="true"></i></button>
  <% } %>
</div>
