<div id="section-viewer">
  <div class='base-text'>
    <h2><%= @document_section.name %></h2>
    <%=raw @document_section.base_html %>
  </div>
</div>

<script>

  // application main
  $(document).ready(function() {
    var sectionViewer = new TextLab.SectionViewer({ el: $('#section-viewer') } );
    sectionViewer.render();  
  });

</script>