<div id="section-viewer">
  <div class='base-text'>
    <%=raw @document_section.base_html %>
  </div>

  <% if @subsections.length > 0 %>
    <div class="subsections">
      <h3><%= @ancestor_nodes.length > 0 ? "Subsections" : "Table of Contents" %></h3>
      <ul>
        <% @subsections.each { |subsection| %>
          <li><%= link_to subsection.name, document_section_path(subsection) %></li>
        <% } %>
      </ul>
    </div>
  <% end %>
</div>

<script>
  // application main
  $(document).ready(function() {
    var sectionViewer = new TextLab.SectionViewer({ el: $('#section-viewer') } );
    sectionViewer.render();
  });

</script>
